[2018-10-13 20:44] fdncred opened #1 "Looking Good!"
Are you planning on porting all functionality or just a subset?

[2018-10-13 21:18] Oceania2018 commented on #1
Not all but the most frequent and important functions.

[2018-10-14 11:59] dotChris90 opened #2 "Which APIs and Modules could be implemented?"
Hallo,

first of all : awesome work! :D
I just was thinking APIs could be used for numpy (so which classes and methods)?
And I was asking what modules should be also implemented?

- numpy
- scipy
- pandas
- matplotlib

Is there a way to generate a List with APIs on every module?
So could check which APIs exist in python and which should be implemented.

Moreover I think this libs could be used ver

[2018-10-14 18:39] frank-ozgul opened #3 "Unique() and Random() methods do not resolve"
Have they not been implemented yet?

[2018-10-14 19:10] Oceania2018 commented on #3
@frank-ozgul  It's all implemented.

## Unique()
`var nClasses = y.Unique().Length;`

## Random()
![image](https://user-images.githubusercontent.com/1705364/46920923-9ece7f80-cfba-11e8-98e7-7a0af25f8eb9.png)

I'm using NumSharp in the Neural Network implementation, check this [repo](https://github.com/Oceania2018/Bigtree.MachineLearning)

[2018-10-14 19:17] dotChris90 opened #4 "Is there a reason to implement methods as extended methods?"
Hello again,

just a question - no complain. :)
Is there a reason to implement methods as extension methods for NumSharp?

My consideration is just the following :

- extensions methods is sth. C# connected
- extensions methods are hard to use in other languages (e.g. powershell, F#. python.NET, ...)
- NumSharp could be used by many other languages if they are normal methods ;)

thanks again for y

[2018-10-14 19:25] dotChris90 opened #5 "Project structure with "src" & "test" folder"
Sorry again to disturb ^^'

since C# is compiler and not interpreter project - shouldn't we make the structure :

- "/src/NumSharp" instead of NumSharp
- "/test/NumSharp.Test" instead of NumSharp.UnitTest

and for future (maybe one day ^^ ) have even "/src/SciSharp" and "/src/PandasSharp" ;)

[2018-10-14 19:31] dotChris90 commented on #4
Honestly - not 100% sure how is the current state.

But remember in past I had following situations :

- MATLAB ignores them completly (their NET.AddAssembly method or how it was called)
- Python.NET can not directly invoke too
- Powershell can not use direct but! use them like normal functions like [FullClassPath]::ExtMethod()
- same to F#

In general it is possible but you have to use them like

[2018-10-14 19:38] dotChris90 commented on #4
But I got your point and agree.

The Numpy libraries can be huge and its impressive that python people really do not split them into multiple files.

Partial would be a good option since NumSharp shall follow the interfaces (APIs) of Numpy and this means the APIs are already chosen.

I think extensions methods should be used to extend legacy code **or!** to extend classes of other libraries and ma

[2018-10-14 19:41] Oceania2018 commented on #5
Agree with you, but the NumSharp.Test, I keep the name NumSharp.UnitTest.

![image](https://user-images.githubusercontent.com/1705364/46921279-1a323000-cfbf-11e8-9563-260e62656e50.png)

[2018-10-14 19:44] Oceania2018 commented on #4
Yes, agree with you, I'll make some change. @dotChris90 Why not join this project? you know you have given some great ideas.

[2018-10-14 19:53] dotChris90 commented on #4
Thanks - would be a honour. ;)
If you want - I can do the restructure from extension methods to partial class methods since I suggested it.
Already did a fork.
But will do in next days - unfortunately weekend already over here in Europe ;)

[2018-10-14 20:13] Oceania2018 commented on #4
Welcome to do a pull request.

[2018-10-15 02:41] dotChris90 commented on #5
Ok. Perfect. Close this issue because already done ;)

[2018-10-15 02:42] #5 closed

[2018-10-15 04:51] frank-ozgul commented on #3
I was using the package  at NuGet Site. So it does not seem to have them. But I notice now in the github code they exist. Thank you.

[2018-10-15 14:18] #3 closed

[2018-10-15 19:04] dotChris90 commented on #4
Hmmm today tried rewriting the extensions methods to true methods ...
the benefit of extension methods are : you can extend just some subset of all generics but do not have to implement method for all.

When rewrote ARange noticed it. With extension methods we can say "implement it for NdArray<int> or NdArray<double>" but as true method have to think about NdArray<TData> with TData can be anything

[2018-10-16 11:35] Oceania2018 commented on #4
I changed NdArray to NDArray

[2018-10-16 19:39] dotChris90 commented on #4
Honestly I wish there is something like INumeric Interface for numeric types.

But after googling around and read some posts like "https://blogs.msdn.microsoft.com/lucabol/2009/02/05/simulating-inumeric-with-dynamic-in-c-4-0/" think it is not easy to find a performance efficient way.

If there exist you could even limit the generics in NDArray to numeric types and it would be easy to bring the ext

[2018-10-16 20:16] Oceania2018 opened #6 "implement numpy.convolve"
Returns the discrete, linear convolution of two one-dimensional sequences. https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.convolve.html

[2018-10-16 20:18] Oceania2018 commented on #4
@dotChris90 Could you please help implement the [numpy.convolve](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.convolve.html). The [issue](https://github.com/Oceania2018/NumSharp/issues/6) is created #6

[2018-10-17 06:38] dotChris90 commented on #4
ok - will look for it today.

[2018-10-17 12:30] dotChris90 commented on #6
Pull request started. But for now just the full mode.

still to do :

- same mode
- valid mode

according to https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.convolve.html

[2018-10-17 20:02] Oceania2018 opened #8 "implement numpy.mean"
Compute the arithmetic mean along the specified axis.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.mean.html

[2018-10-17 20:06] Oceania2018 opened #9 "implement np.std"
Compute the standard deviation along the specified axis.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.std.html

[2018-10-17 20:07] Oceania2018 opened #10 "implement numpy.hstack"
Stack arrays in sequence horizontally (column wise).
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.hstack.html

[2018-10-17 20:16] Oceania2018 commented on #6
@dotChris90 created more functions to be implemented. Please pick up one if you want.

[2018-10-17 20:18] Oceania2018 opened #11 "implement numpy.random.shuffle"
Modify a sequence in-place by shuffling its contents.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.shuffle.html

[2018-10-18 07:05] dotChris90 commented on #6
when pull request is accepted, will close this ticket ;)

[2018-10-18 07:18] dotChris90 commented on #8
ok - will do this - seems to be easy ;)

[2018-10-18 09:31] dotChris90 commented on #8
ok - pull request for first implementation of mean
keep issue open because API is not full implemented (missing multi dimensional stuff)

[2018-10-18 12:04] Oceania2018 commented on #8
Can you do NumPy.hstack first, other contributor is working on NumPy.mean.

[2018-10-18 12:40] fdncred opened #14 "Bitmaps?"
I'm interested in loading a bitmap in to a NumSharp array. I realize that isn't written yet but I'm concerned that if I write and contribute that method it will be way too slow to do anything with. What are your thoughts on speed?

Thanks,
Darren

[2018-10-18 14:06] Oceania2018 commented on #14
@fdncred There is a [sample](https://github.com/Oceania2018/Bigtree.MachineLearning/blob/master/Bigtree.Algorithm.UnitTest/CNN/FileReaderMNIST.cs) for loading MNIST image dataset into NDArray. 10K image data, works very well.

[2018-10-18 15:02] fdncred commented on #14
@Oceania2018 Thanks for the info but there aren't a lot of 10k images that need processing. For instance, one I'm working now is 2531 x 2081 x 3 bpp, which makes for > 15.8 million bytes, in a 3 dimensional array. Obviously, anything big like that would be slower but I'm not sure if I want to find out how much slower. I may have to code it up just to see.

[2018-10-18 16:43] #8 closed

[2018-10-18 16:50] Oceania2018 commented on #14
@fdncred Hi, I havn't test that large dataset. There is definitely way to optimize it. Like use `yield` keyword. Read image one by one and feed into neural network.

[2018-10-18 16:56] Oceania2018 opened #16 "implement numpy.vstack"
Stack arrays in sequence vertically (row wise).
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.vstack.html#numpy.vstack

[2018-10-18 16:57] Oceania2018 opened #17 "implement numpy.stack"
Join a sequence of arrays along a new axis.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.stack.html#numpy.stack

[2018-10-19 06:44] dotChris90 commented on #6
closing it because all 3 modes are implemented ("same", "Full", "valid")

[2018-10-19 13:05] dotChris90 commented on #4
@Oceania2018 could you make a branch for this issue 4? I already have a branch for issue 4 on my fork and changed 5 methods from extensions methods to true methods. The tests still run and all working. F# and Powershell have no problems to find the methods and so you can execute them like in C#. I want to make pull request for issue 4 (which shall be pulled **not** to the master branch) and let yo

[2018-10-19 14:38] Oceania2018 commented on #4
@dotChris90 Don't need branch. Just pull request once your unit test passed, Not a lot of people are using this library currently.

[2018-10-19 16:45] Oceania2018 opened #20 "implement numpy.dot"
Dot product of two arrays. Specifically,
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.dot.html

[2018-10-19 17:52] dotChris90 opened #22 "Does mean Test fail on your local system?"
- for my local the first (simplest) test fail
- debugging show all fine
- but when running without debugging fail because the mean is inf?
- have no idea why
- please some people can check your local system and let me know result ? :D

[2018-10-19 18:29] Oceania2018 commented on #4
I've never used F#, and I'm curious how to invoke C# code in Powershell.

[2018-10-19 19:08] dotChris90 commented on #20
will push tomorrow ;)

[2018-10-23 06:59] dotChris90 commented on #20
I think this can now be closed - scalar multiply, matrix multiplication, scalar product are done

[2018-10-23 07:00] dotChris90 commented on #6
can not close ticket. :-/ but it can be closed in general.

[2018-10-25 14:16] dotChris90 opened #27 "implement numpy Matrix Class"
following the API doc https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.matrix.html

[2018-10-25 14:18] dotChris90 opened #28 "implement numpy asmatrix"
following the API doc https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.asmatrix.html

[2018-10-25 15:45] dotChris90 opened #30 "open a Wiki"
just want to ask if it is possible to open a wiki for numpy.
So we could start give examples for using in F#,C#.Powershell :D

[2018-10-26 17:31] Oceania2018 commented on #30
I've set the [readthedocs](https://numsharp.readthedocs.io) online docs.
[code]

[2018-10-26 17:33] Oceania2018 opened #31 "Set CI for NumSharp"
Set up a Continuous integration tool for project.

[2018-10-26 17:33] Oceania2018 commented on #31
We're going to use AppVeyor to continuously run tests and deploy apps to cloud or on-premise environments.

[2018-10-27 14:52] botsharp2018 commented on #27
[code]

[2018-10-27 17:00] dotChris90 commented on #27
okay understood. Just one question in general here.

In Python there is the possibility to create an array of lists containing doubles for a matrix. Also there is the possibility to create array of arrays. For sure the array of array strategy brings a better performance when using matrix operations.

In C# we would have possibility of NDArray of NArrays of doubles or NDArray of usual double array.

[2018-10-29 01:48] Oceania2018 commented on #27
We should consider performance first. Let's make a big change, like separate  NDArray<T> as 1 dim array, NDArray2<T> as 2 dim array, and fore T as value type.
[code]

[2018-10-30 12:00] #6 closed

[2018-10-30 12:01] #28 closed

[2018-10-30 12:42] fdncred commented on #14
@Oceania2018 I experimented with Bitmaps and it just crashes visual studio when I try to inspect the np variable. I take that to mean that the arrays are so large that NumSharp can't handle it or I've constructed the numpy array incorrectly. I suspect I'm not using NumSharp correctly. Any ideas?

My system is pretty beefy - 16GB Ram, 12-CPUs.

This is what I did.
1. Make your project multitargetin

[2018-10-30 12:55] dotChris90 commented on #14
@fdncred hm I will check your code on Visual Studio Code, Windows, .NET Core 2.1 and maybe I try to use NDArray<double[]> .... somehow. I am not 100% sure if the List is best data type .... we use it in tests often because the lists (arrays) are small in tests. but it is possible to use double[]- so C# arrays instead. they have much better performance.

[2018-10-30 12:56] dotChris90 commented on #14
@fdncred not sure if it is important. But what operating system you use? normal Windows?

[2018-10-30 13:04] fdncred commented on #14
Windows 10 1809 Build 17763.55 64-bit

[2018-10-30 13:38] fdncred commented on #14
This may be closer but still not right because the shape is wrong.
[code]

I'm trying to match the array from this python code. Which is shape(2531, 2081, 3).
[code]

[2018-10-30 14:02] dotChris90 commented on #14
Understand. When at home maybe will try to extend array method for this. By the way. Thanks for show us the python code. It is important that we really match the APIs as well as possible.

[2018-10-30 14:03] dotChris90 commented on #14
@fdncred u use the code from github and builit or u take the nuget package? Just to know how to support ur case best

[2018-10-30 14:05] fdncred commented on #14
I downloaded and compiled the code from Github.

[2018-10-30 14:08] dotChris90 commented on #14
Ah yes. Lol sorry my fault. Ok will test it at home.

[2018-10-30 14:09] fdncred commented on #14
No worries, thanks for your help.

[2018-10-30 14:53] Oceania2018 commented on #14
@dotChris90 Do you think we should refactor NDArray class to every specific generic type? separate NDArray<TData> to NDArray<double[]> or NDArray<T>  where T is limited to value type, and change
[code]
to

[code]

For 3 Dim will be
[code]

I thought this will definitly get the best performance.

[2018-10-30 16:51] fdncred commented on #14
An alternate approach is to compile the numpy source code into a c++ dll and then p/invoke calls out of it. This is kind of what python does. Numpy isn't written in python, just the wrapper is. Then you'd have all the speed of numpy and one would have to figure out how to marshal data back and forth.

[2018-10-30 17:29] fdncred commented on #14
But I did find [this](https://github.com/dpilger26/NumCpp). Looks like it could be helpful.

[2018-10-30 17:42] Oceania2018 commented on #14
@dotChris90 I like the jagged array.

var A = new NDArray<double[][]>()

[2018-10-30 17:45] dotChris90 commented on #14
@Oceania2018 ok - if you do not mind I would do a totally restructure at Friday and weekend (have some holidays). I suggest just one of us (so me) do this because it also include changing the unit Tests etc.

[2018-10-30 17:47] Oceania2018 commented on #14
I have another idea. What about create new class named NumSharp, it will be equivalent np when you do bar np = new NumSharp(). then np.arange(10). NumSharp will act like a router.

[2018-10-30 17:49] Oceania2018 commented on #14
NumSharp will hide the mass of NDArray<T>. I agree with you. You will do the restructuring. Appreciate.

[2018-10-30 17:56] dotChris90 commented on #14
@fdncred interesting. Seems NumSharp is not the only project try to reconstruct numpy lol Thanks for post. I just think that in .NET Core 3.X the .NET system will bring a lot more stuff for machine learning, array performance and so on. That is the reason I avoid using C. AT the moment. But if we find out in 2019 that .NET Core 3.0 does not bring us what we wish we will go with C maybe. And about

[2018-10-30 17:59] dotChris90 commented on #14
@Oceania2018 honestly the  np = new NumSharp(). is a fantastic idea. lol this makes all stuff look more like numpy. We could try to use .NET script or Powershell and make some examples. after restructure the array stuff.

[2018-10-30 18:15] Oceania2018 commented on #14
@dotChris90 Sounds great, let's do it. I will add a NumSharp class, you do the NDArray restructing.
Another advantage of NumSharp is making our API more stable for high level usage. Just change NDArray implementation, better encapsulation of OOP.
[code]

@fdncred Are you interested joining this project?

[2018-10-30 18:20] Oceania2018 opened #34 "Better Encapsulating for high level API"
We're going to add a new entry class named NumSharp. NumSharp will have our API more stable for high level usage. Just change NDArray implementation, better encapsulation of OOP, and more readable function names, trying to be as same as possible for NumPy.

[code]

[2018-10-30 18:30] fdncred commented on #14
@dotChris90 I posted that C++ link in order to help port to C#. For me, at least, it's easier to read C/C++ and turn it into C# than it is for me to ready python and turn it into C#.  [Here's](https://github.com/QuantStack/xtensor) another C++ port of the NumPy functionality with [help](https://xtensor.readthedocs.io/en/latest/numpy.html). Again, may just be useful seeing how other people reinterp

[2018-10-30 18:35] dotChris90 commented on #14
@fdncred I made Testmethod for your case to try and play around with this use case of byte[][][]. In Visual Studio Code the debugger for this image working fine - slow but fine. but not for our NDArray - i just tried at moment for byte[][][].

I would suggest I will do the restructure of our NDArray this week and extend Array method. I will let you know when finish. Honestly until now we did not t

[2018-10-30 18:47] dotChris90 commented on #14
@fdncred sure. Honestly the link was interesting. and totally agree with you. C++ and C# are much closer to each others than Python. Even python is a nice language but ... lot of things are missing. Generics - just as example. Maybe will have a look deeper in this C++ projects

[2018-10-30 20:02] dotChris90 commented on #14
@fdncred just question of curiosity. What API you suggest to implement for byte[][][]? In other words - what would be good to see for images?

[2018-10-30 20:05] dotChris90 commented on #14
@fdncred @Oceania2018 I checked your link https://xtensor.readthedocs.io/en/latest/numpy.html amazing! but I asked myself - It is not possible to have an array<double,2> generic - am I right? Because this looks extreme nice for users. But I never saw this in C# or in general .NET world.

[2018-10-30 20:11] dotChris90 commented on #2
@Oceania2018 @fdncred  by the way. the side https://xtensor.readthedocs.io/en/latest/numpy.html also delivers a good overview / List about important APIs we should focus.

[2018-10-30 20:13] Oceania2018 commented on #14
@dotChris90 I just disucssed with someone else. We have an other solution. Please hold on. Don't do any change.

[2018-10-30 20:23] dotChris90 commented on #14
@Oceania2018 ok will do nothing for today. But what was discussing about the NDArray<double[][]> , the Bitmap or np = new Numsharp? :D

[2018-10-30 20:28] Oceania2018 commented on #14
I pushed code. Please refer `NDArrayOptimized`. All data should be persist in a one dimension array. NDArrayOptimized will parse the 1d array to any dim array only when data is used.

[2018-10-30 20:31] fdncred commented on #14
@dotChris90 I don't understand your question about what API for byte[][][]. Sorry. Having an image in a byte[][] or byte[][][] is only useful as it relates to numpy's algorithms.  If you look at this python project you'll see how they're using it. This python [project ](https://github.com/mzucker/noteshrink)is where I got the idea to use NumSharp when I converted it to C#.

[2018-10-30 20:34] Oceania2018 commented on #14
@fdncred I think we would do it like this:
[code]

[2018-10-30 20:36] fdncred commented on #14
@Oceania2018 That seems intuitive to me as long as it returns np[height][width][byte[3]]. I think that's what python is doing but maybe it's returning tuples - I can never tell with imaging on python.

[2018-10-30 20:40] dotChris90 commented on #14
@fdncred the project page is enough. Before usual always working with time series. not too much with images. :D So I dont know well which functions are used mostly. Just was looking for some inspiration or use cases.

[2018-10-31 03:33] Oceania2018 commented on #14
@fdncred I created a 1M bytes, cost 0.5s.

![image](https://user-images.githubusercontent.com/1705364/47764516-7d94b100-dc93-11e8-8b74-de731c180116.png)

![image](https://user-images.githubusercontent.com/1705364/47764569-c187b600-dc93-11e8-8879-7197d3d5dfa1.png)

[2018-10-31 06:03] dotChris90 commented on #14
@Oceania2018 Do I really understand you well? So you want store everything (1D,2D,3D,...ND) in a single array? The properties like Shape decide the dimension? Do not get me wrong but this will leads to some ... problems I think.

1 ) our methods will get longer and not so well structured. Until now we can have "MethodName(NDArray<double>)" and "MethodName(NDArray<double[]>" to differ between vecto

[2018-10-31 06:20] dotChris90 commented on #14
@Oceania2018 will open an other issue to discuss this. Bitmap it not the best name for this ;)

[2018-10-31 07:18] dotChris90 opened #35 "How to internal storage the array"
This issue come up because of discussion in other issue.

We should clear how to internal storage the NDArray data.
Until now we discussed 2 strategies. And I want to use this issue to discuss pro and cons.

Option 1 ) NDArray as an adapter
This means we have a generic NDArray class< T > where T can be any array or jagged array. The storage is 100% the same like the generic T. So accessing an obje

[2018-10-31 12:34] fdncred opened #36 "Target Multiple Frameworks"
Are there any objections to changing the csproj from this:
[code]
To this?
[code]
This just allows one to test with the normal dotnet framework as well as dotnet standard.

[2018-10-31 13:02] dotChris90 commented on #36
From my side not. Ah understand. Otherwise u must every time do manually change when somebody here do a pull request and change. I think multiple targets is OK as long as full  . Net framework is supported by Microsoft.

[2018-10-31 13:13] fdncred commented on #35
Just quoting original thread.

In response, I could care less about the internal structure of arrays. My attempt with Bitmaps was to try  and emulate python's numpy array as close as possible (but I failed). In the end, my vote will be to store the data in a way that gives the best performance and the best intuitive ease of use. Performance is king but not at the sacrifice of having a useable API.

[2018-10-31 14:33] fdncred commented on #35
Thoughts on this?
[code]
[code]
This allows me to do this with Bitmaps.
[code]
At least now, all the data is in a numpy int[][][] array.
![debug1](https://user-images.githubusercontent.com/343840/47795081-c8dcad00-dcef-11e8-8add-7968e935fc82.png)

I have no idea how this works with any of the other operations.

[2018-10-31 14:49] Oceania2018 commented on #35
@fdncred Are you using the new NDArray?

[2018-10-31 14:54] Oceania2018 commented on #35
@dotChris90 I think we are discussing with dynamic dim and static dim.

![image](https://user-images.githubusercontent.com/1705364/47796420-4f928980-dcf2-11e8-91c0-a8a607682340.png)

You prefer static dim `NDArray<double[]>`, and I'm doing dynamic dim `NDArray<double>`.  I want to make sure we are on the same page.

![image](https://user-images.githubusercontent.com/1705364/47796717-e65f4600-dcf2-

[2018-10-31 15:02] Oceania2018 commented on #35
@fdncred Pull the latest code. You can access element by `np[n,m,x]`

![image](https://user-images.githubusercontent.com/1705364/47797295-0e9b7480-dcf4-11e8-8913-2a5765468000.png)

[2018-10-31 15:06] dotChris90 commented on #35
Ah yes. This is true. U are right. In general spoken.

Dynamic can be a generic with value type. So double, float, int etc

Static can be a generic with Array type implementing IList. So double [] [], double [] or int [] [] [].

Got your point. I will try sth when home.

Sorry didn't get you before. But indeed that's nice.

[2018-10-31 15:10] Oceania2018 commented on #35
Ideally, we could mix `xarray` and `xtensor` in NumCpp. So NumSharp NDArray can handle double and double[][] very well. Hope to discuss further and show your implementation. :)

[2018-10-31 15:27] dotChris90 commented on #35
@Oceania2018 honestly this was exactly my idea. My first try failed. Seems you can not have 2 classes same name but different generic restrictions in C#

Damn. Honestly now I am thinking about implementing 2 different classes like in their approach and with a fast casting from dynamic to static so performance critical methods are executed there. Moreover we do not need to implement both classes me

[2018-10-31 15:39] fdncred opened #37 "Generic ARange?"
Is there a reason why the ARange isn't generic?

[code]

[2018-10-31 15:40] dotChris90 commented on #35
Or since the generic restriction is really terrible for numeric. Maybe I add a generic type check in constructor. From the generic type we know if static or dynamic and that's it.

[2018-10-31 15:40] Oceania2018 commented on #36
@fdncred .netstatndard 2.0 should work for net472. You don't have to flag it explicitly.

[2018-10-31 15:44] Oceania2018 commented on #37
10 times performance slower when you using `(T)Convert.ChangeType(x, typeof(T))`. I've tested it yesterday.

[2018-10-31 15:56] fdncred commented on #35
@Oceania2018 Thanks for the tip on Reshape(). I'll play with that. I assume assignment works that same way, i.e. ```np[1,1,1] = 254;```

[2018-10-31 16:01] dotChris90 commented on #37
But would it be possible to cast the whole array?

Don't have a laptop at moment in front lol so can't test.

Sth like

(T[]) Enumerable....

The cast is than at one object not every element.

[2018-10-31 16:05] fdncred commented on #35
I like this:
[code]
Need to investigate parallelism to make it faster.

[2018-10-31 16:09] dotChris90 commented on #35
Ok even I am huge fan of static types. But have to admit it looks fantastic.

[2018-10-31 16:11] fdncred commented on #35
Added .AsParallel() doesn't seem to improve this part.
[code]
But parallel definitely helps in the assignment.
[code]

[2018-10-31 16:15] fdncred commented on #37
@Oceania2018 Wow. Must be the boxing/unboxing perf problems that I've read about.

@dotChris90 Here's a couple ways to cast [arrays ](https://stackoverflow.com/questions/2068120/c-sharp-cast-entire-array)- i haven't tried any of them.

[2018-10-31 17:46] Oceania2018 commented on #31
Completed by using AppVeyor.

[2018-10-31 17:46] #31 closed

[2018-11-01 10:45] dotChris90 commented on #35
@Oceania2018 @fdncred until now did not find a perfect way to handle both means in QuantStack Tensor and Array classes in one NDArray. So I will start to restructure our legacy NDArray into a NDTensor . After this finally our unit Tests shall stop failing .... :D

[2018-11-01 10:46] dotChris90 commented on #35
in later release we should try to combine both. :D

[2018-11-01 14:45] fdncred opened #38 "Reshape with -1"
I'm sure this can be optimized. I couldn't really find how numpy actually does this so I guessed and rewrote the reshape routines. It currently only handles two dimensional reshape.

[code]
And the tests.
[code]

[2018-11-01 14:46] fdncred commented on #36
Added multitargeting with 0b7cf4e557a14731fffa4bc06950c2db0f6f1c8b

[2018-11-01 14:51] fdncred commented on #36
And now 2af9f96deb7e904f696aa01084af00e9e0da5b96

[2018-11-01 15:03] Oceania2018 commented on #36
@fdncred
![image](https://user-images.githubusercontent.com/1705364/47859931-5e923e00-ddbd-11e8-9a99-ddba08a8629a.png)

[2018-11-01 15:08] Oceania2018 commented on #38
Hi @fdncred could you push your code, then I can't debug it. I kind of misunderstand what shape -1.

[2018-11-01 15:11] Oceania2018 commented on #36
@fdncred, I can't compile due to lack of net472 sdk locally.

![image](https://user-images.githubusercontent.com/1705364/47860412-75856000-ddbe-11e8-8ff8-e9494d30565b.png)

[2018-11-01 15:14] Oceania2018 commented on #35
@dotChris90 great plan. I'll do the Dynamic array NDArray, you will do the NDTensor. Appreciate.

[2018-11-01 15:18] Oceania2018 commented on #35
@dotChris90 interesting NumCpp `xt::xtensor<double, 2>({{3, 4}, {5, 6}})`, we might copy the constructor by defining your NDTensor as `public NDTensor<T>(int dim)`. Depends on your thought.

[2018-11-01 15:29] fdncred commented on #38
@Oceania2018 Done with a71239f6d1ffcb5d247c940b994dbed77148a998

[2018-11-01 17:10] dotChris90 commented on #35
Yes. Indeed. Unfortunately I found out that the C# generics are less powerful than C++ templates.

I tried something like

public class NDTensor<T>
{
    public T Data {get;set;}
}

Here I get problems when indexing. When indexing compiler tells me that it is unable to deduce the element type of matrix ....

so have to do like

public class NDTensor <TElement,T>
{
    public T Data {get;set;}

[2018-11-01 18:22] Oceania2018 commented on #38
numpy allow us to give one of new shape parameter as -1 (eg: (2,-1) or (-1,3) but not (-1, -1)). It simply means that it is an unknown dimension and we want numpy to figure it out. And numpy will figure this by looking at the 'length of the array and remaining dimensions' and making sure it satisfies the above mentioned criteria

[2018-11-01 19:10] Oceania2018 commented on #35
We might focus on dynamic array NDArray before deciding how to code static dimension array.

[2018-11-01 19:32] dotChris90 commented on #35
Since I can't find good solutions I agree.

I will start by rewriting the NDArray operations like plus, minus, multiplication etc.
If you don't mind. :)

[2018-11-01 19:42] Oceania2018 commented on #35
No, please. I’ve commented some testing code. You can restore them back.

[2018-11-01 20:33] dotChris90 commented on #35
@Oceania2018
Ok will do tomorrow. Today just did some performance tests.

Even I did not like the idea of 1D array for Matrix, Vector, Tensor and so on, but! I see some benefits now from this.

The element wise operations (element wise + or - ) are 1.5 - 2 times faster in 1D Array than in jagged array. I tested it for a 1000 x 1000 matrix (which would be a 1000000 1D Array).

I will try it for mat

[2018-11-01 20:39] fdncred commented on #35
@dotChris90 I'm no python expert but I do know that python does math on 3-dimensional arrays. Such as this [link ](https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.ndarray.html#calculation)shows.

[2018-11-01 21:05] dotChris90 commented on #35
@fdncred interesting. Thanks. I think this higher dimensions operations is not our goal but can keep in mind lol

[2018-11-01 21:06] Oceania2018 commented on #35
Glad to hear that, NumPy definitely do N-dimension multiplication. Same thing for us due to 1 dimension internally. You just need to loop the 1 dim array.

[2018-11-01 22:09] dotChris90 commented on #35
hello guys - seems Matrix Multiplikation is also faster with a 1D array I am very impressed. Ok I will be very happy tomorrow to rewrite the operations. It is awesome. Now I think - if we carefully implement the methods and operations - we can be faster than the C# higher dimension jagged arrays.

[2018-11-01 22:30] Oceania2018 commented on #35
After you compared performance benchmarks, could you also post the screenshots or leave the testing code?

[2018-11-01 22:34] dotChris90 commented on #35
U suggest to include them here at unit test or want a special folder benchmark on top level beside src and test?

Was the only reason why I didn't pushed.

Since until now just some basics tests done. I suggest to simply add a file to unit tests. And there are the benchmark I did until now.

Plus send images here. Do tomorrow morning before restructure operations.

[2018-11-02 00:03] Oceania2018 commented on #35
I prefer creat a new console project to adopt benchmark code.

[2018-11-02 06:07] dotChris90 commented on #35
Ok. Benchmark test which location?

/benchmark or at /test/benchmark?

[2018-11-02 12:09] Oceania2018 commented on #35
already create a new project at /test/benchmark
![image](https://user-images.githubusercontent.com/1705364/47914593-2a2a8a80-de6e-11e8-8104-946b66520e6c.png)

[2018-11-02 12:56] dotChris90 commented on #35
Ok my bad lol

[2018-11-02 19:37] dotChris90 commented on #14
@fdncred I pushed an array method to NumSharp which accepts a bitmap object as input parameter. You can try and play. :)

With the new 1D array strategy we could simple take the byte array of this Marshal. Copy method and put into NDArray Data property. Just need to set the shape as height wideth 3.

Only thing I don't understand is that the order of rgb vector is different now in numpy and Marsha

[2018-11-02 19:49] dotChris90 commented on #14
@fdncred took your image and example code for the method and unit test.

Hope u don't mind :)

[2018-11-02 21:03] fdncred commented on #14
@dotChris90 I'll take a look at it. I have no problem with you using any of the code I've pushed or put in issues, so feel free to use it without question.

The thing about dotnet bitmaps is they're stored in BGR format. So that may be why the vector is different. So, typically there's a byte swap of R & B to get them aligned properly.

I see some things I'd change but this is definitely a good st

[2018-11-02 21:12] fdncred opened #43 "Span<T> and Slice?"
@Oceania2018, @dotChris90 Have you seen Span<T>? It's as fast as C++ code in dotnet. It may be useful in this assembly.

Docs
https://docs.microsoft.com/en-us/dotnet/api/system.span-1?view=netcore-2.1
https://msdn.microsoft.com/en-us/magazine/mt814808.aspx
https://blogs.msdn.microsoft.com/mazhou/2018/03/25/c-7-series-part-10-spant-and-universal-memory-management/
https://adamsitnik.com/Span/

[2018-11-02 21:20] dotChris90 commented on #14
@fdncred totally agree. First let make a nice start for NumSharp.

:)

[2018-11-02 22:12] Oceania2018 commented on #43
Only can be used in .NET Core 2.1, NumSharp is using .net standard 2.0. We will change TargetFrameworks if needed.
https://www.codemag.com/article/1807051/Introducing-.NET-Core-2.1-Flagship-Types-Span-T-and-Memory-T

[2018-11-02 22:18] dotChris90 commented on #43
@Oceania2018 @fdncred  just for curiosity. Do u use at moment  . NET CORE or Full?
I think at moment we 3 are the main workers at this repo and I really like the span if we e.g. Slice arrays or generate different views for the same arrays. I think it could be also great when parallel operations.

[2018-11-02 22:39] fdncred commented on #43
I used dotnet full i.e. net472 however, if we're going to make a numpy clone that as fast as the real numpy the only way to do it is either with p/invoke or span. I think the netstandard, full, and core are slowly merging into one framework. The future is definitely core. Even WinForms and Xaml/Wpf are being rewritten in dotnet core right now. It's scheduled for 3.0 release.

This bit of code was

[2018-11-02 22:42] fdncred commented on #43
One other benefit with dotnet core is that it runs on Windows/Mac/Linux. It's designed to be cross-platform.

[2018-11-02 22:52] dotChris90 commented on #43
Totally agree. Honestly at moment try our code on windows 10 and a Linux MX (Debian base). It's simple awesome to see we can target multiple platforms.

And we targeting multiple languages. C#, F#, VB and I often try powershell.

Beside this there is the cool project peachpie which bring php to the dotnet world.

On top of this. There exist bindings for Matlab and python. We could use NumSharp in

[2018-11-03 01:59] #37 closed

[2018-11-03 01:59] #20 closed

[2018-11-03 02:00] #4 closed

[2018-11-03 02:01] #38 closed

[2018-11-03 02:01] #34 closed

[2018-11-03 05:02] Oceania2018 commented on #9
Refactor `NDArray_Legacy<TData>` to `NDArray<T>`.

[2018-11-03 11:39] dotChris90 opened #44 "implement method zeros"
implementing zeros following https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.zeros.html

[2018-11-03 11:40] dotChris90 opened #45 "Implement method ones"
implement numpys ones method following https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.ones.html?highlight=ones#numpy.ones

[2018-11-03 11:41] dotChris90 opened #46 "implement eye"
implementing numpys eye method following https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.eye.html?highlight=eye#numpy.eye

[2018-11-03 11:54] dotChris90 commented on #44
already exist - just changed 1 thing and included the Assert.IsTrue again to unit Testing.

[2018-11-03 12:54] Oceania2018 commented on #44
Finished.
[code]

[2018-11-03 12:54] #44 closed

[2018-11-03 13:08] Oceania2018 opened #47 "Implement numpy.amin"
Return the minimum of an array or minimum along an axis.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.amin.html#numpy.amin

Need to refactor current `Min(this NDArray<double> np)`.

[2018-11-03 21:40] dotChris90 opened #48 "Check matrix multiplication again with index check"
I think I was wrong about the indexing with matrix multiplication. Will check this tomorrow.

Seems when mapping 1 dimension to 2 dimension the columns are 1st dimension. I did the multiplication with lines first. I need to check this again.

Until now just checked the computed values.

[2018-11-03 21:40] dotChris90 commented on #48
I will do this

[2018-11-03 22:13] Oceania2018 commented on #48
Use `np.Vector(n, m)` to get the new `NDArray<T>` vector, and `np[n, m]` to get data value. Have tried to combine the index accessor, but failed.

[2018-11-03 23:12] Oceania2018 commented on #48
Don't worry about the performance, have already optimized for index accessor, cached index in variable `dimOffset`.
[code]

[2018-11-04 01:15] Oceania2018 commented on #2
@dotChris90 It's time to start with our pandas repo.
`pandas is built on top of NumPy and is intended to integrate well within a scientific computing environment with many other 3rd party libraries.`

[2018-11-04 07:47] dotChris90 commented on #2
Wow great idea. But the name I am not sure which fits well.

Pandas.NET I find sounds better. Unfortunately we can not do a word game here like numpy and NumSharp.

Candas. For C# analystics and data frames does not sound sooo fantastic.

So I guess pandas.net is best at moment. :)

[2018-11-04 07:59] dotChris90 commented on #2
An other question.

When implementing pandas we will face troubles with methods parameter. Most method will accept numpy arrays and normal lists. Since we are not duck type but strong data types we should accept interfaces.

So final question. Shall we NDArray implement IList, IEnumerable?

[2018-11-04 11:06] dotChris90 commented on #46
ok did now but just for 2D so I keep issue open.

[2018-11-04 11:06] dotChris90 commented on #45
Ok - will do.

[2018-11-04 12:41] dotChris90 commented on #48
done.

[2018-11-04 12:41] #48 closed

[2018-11-04 12:42] dotChris90 commented on #45
Already done and merged. Will close this issue.

[2018-11-04 12:42] #45 closed

[2018-11-04 12:46] dotChris90 commented on #35
Ok - I think we end this topic.

@Oceania2018 @fdncred
I was wrong - the .NET based multidimensional arrays  and jagged arrays are worse in performance and general use. I would create an issue which contains the "implementation of method which computes a jagged array or multidimensional array from the 1D array in storage". This I just want to do for a better integrate with other .NET libraries.

@

[2018-11-04 12:53] Oceania2018 commented on #2
@fdncred Any idea about the new repo for python pandas?

[2018-11-04 12:55] dotChris90 opened #52 "Implement a method which computes .NET tensor from NDArray"
I was thinking that it could be very beneficial to create a method "ToDotNetArray" which convert the 1D NDArray to a jagged array in .NET World.

- Name --> ToDotNetArray
- Input --> nothing
- output --> dynamic

The reason for this is "better integration of NumSharp for other .NET packages". So no Numpy based reason for implementation.

[2018-11-04 12:55] Oceania2018 commented on #2
@dotChris90 We can overload API in different data type as much as possible.

[2018-11-04 12:57] Oceania2018 commented on #52
Agree with you.

[2018-11-04 12:58] dotChris90 commented on #52
ok will do ;)

[2018-11-04 13:11] Oceania2018 commented on #27
Please retire the Matrix class. If you insist to keep it, I suggest that `Matrix` inherits `NDArray<T>`, just keep `Shape = new List<int>() {0, 0}`, the only different is `Shape` property. I reopen this issue till @dotChris90  fix it. Thanks.

[2018-11-04 13:13] #14 closed

[2018-11-04 13:35] dotChris90 commented on #27
Agree

[2018-11-04 14:02] Oceania2018 commented on #52
Why not use `public T[] ToDotNetArray<T[]>()` for 1-d, `public T[][] ToDotNetArray<T[][]>()` for 2-d?

[2018-11-04 15:44] fdncred commented on #2
@Oceania2018 I haven't used pandas. I'll have to see what it does.

@dotChris90 See below of an example of listing all apis in a module, numpy in this example.  [Link](http://code.activestate.com/recipes/553262-list-classes-methods-and-functions-in-a-module/) where I found this.

I'm not sure if this is what you're looking for. Of course, the script could be tweaked to show what you want.
[numpy.t

[2018-11-04 15:46] fdncred commented on #35
I'm ready to close it.

[2018-11-04 15:52] dotChris90 commented on #35
Let's close it :)

[2018-11-04 16:41] Oceania2018 opened #55 "Is NumSharp valuable to move forward?"

[2018-11-04 16:49] dotChris90 commented on #55
Definitely. I think it has great potential. Not just for C#. But for many languages

[2018-11-04 17:08] dotChris90 commented on #52
adapted the interfaces (input parameter and output value).
Used Jagged Arrays because this is the more general array and better performance.
Anyway still not general enough - so keep issue open ;)

[2018-11-04 17:11] dotChris90 commented on #43
@Oceania2018 I agree 100% that we need the Span and I see that the slicing and views could give us the best benefits than :D Means we slicing matrix to multiple vectors (as an example) and do operations on vectors - the matrix could be also updated if we using this nice "managed pointers" :D

[2018-11-04 17:13] dotChris90 commented on #43
@fdncred @Oceania2018 did you hear something like a NetStadard2.1 or 3.0?
The last Update I hear is that 2.0 is the latest standard.
If we know a new standard we could plan if changing the Standard can be done now, in some weeks or .... other date

[2018-11-04 17:17] dotChris90 commented on #27
Merged. Only inv I removed because reimplement in ndarray.

[2018-11-04 20:07] fdncred commented on #55
Agreed

[2018-11-04 20:11] fdncred commented on #43
@dotChris90, @Oceania2018 Before moving forward with Span<T> could you please test my latest push d1bed102119f861fece8309714afe9b3f7695109? I've only been able to test with my MacBook and OSX. Tomorrow I should be able to get back on Visual Studio. I just want confirmation that you can build all and run all the tests and they all succeed.

This is from vscode on my mac.
![screen shot 2018-11-04 at

[2018-11-04 20:43] dotChris90 commented on #43
@fdncred mine works fine. First it shows such red lines like on the image. But after build, test and restart all works fine. Idk why .... but as long as it works. all ok. but at moment just on Windows 10. Maybe tomorrow should try it again on Linux.

[2018-11-04 20:54] fdncred commented on #43
@dotChris90 are you using vscode or Visual Studio on Win10?

[2018-11-04 20:54] vunb commented on #55
Without NumSharp i only think of Python to write a machine learning project but while i am familiar with C#. From now, this is good point to start a new ML project with C# dotnet. Thank you all!

[2018-11-04 21:07] dotChris90 commented on #43
@fdncred VS Code. Honestly spoken now got used to it and like it more lol. Except on razor stuff... In cshtml stuff it still need some little more improvement

[2018-11-04 22:14] fdncred commented on #43
Committed first Span<T> code with 01e2de198c687dec6cae3fdaaa10473cab627ca8. Ideally NDArray's ```T[] Data``` would be a ```Span<T> Data``` but it's not allowed. So, we'll have to figure out how and where to use it best.  It's benefit is speed and reduced memory allocations.

[2018-11-04 22:22] Oceania2018 opened #58 "Implement numpy.random.randint"
Return random integers from low (inclusive) to high (exclusive).
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html

[2018-11-04 22:35] dotChris90 commented on #43
Ok glade to see everybody of us seems to agree go with 2.1 core lol.

OK cool to see there are first push with it👍

[2018-11-04 23:28] dotChris90 opened #59 "Question : can a package be published to ~/.nuget on local machine?"
Very stupid question.

Is it possible in msbuild to pack NumSharp after build automaticly and move to ~/.nuget?

I come up with this question because if there are other projects like pandas.net or I can image SciSharp and they are in different repos, we can not reference them in csproj. Because everybody of us has a different folder structure.

To avoid bad style or complains I think we have now 2

[2018-11-04 23:33] fdncred commented on #43
If we're going to use Span<T> I don't think there is any other choice. I don't think netstandard nor netfull support Span<T>.

[2018-11-05 12:57] Oceania2018 opened #60 "Implement NDArray.ToString()"
Create this issue to keep improving string formatting for multiple dimension array.

@dotChris90 I really like this format. Appreciate.

![image](https://user-images.githubusercontent.com/1705364/47999335-eb900c80-e0c7-11e8-8f47-44959c3f6839.png)

[2018-11-05 13:20] dotChris90 commented on #60
yeah thanks - but there is still some format stuff I have to fix. Maybe will do all together.
If I create double array - the format looks quite ugly still.

[2018-11-05 23:31] Oceania2018 commented on #60
@dotChris90 When you push code, please reference `# ISSUE_NUMBER` on the comment. Github will connect the commit with according issue automatically.

[2018-11-05 23:42] geffzhang commented on #55
https://github.com/dotnet/machinelearning/pull/1517/files/6ef3d151542a294769760d39821b032d61f579c7#diff-98600d2dd295f74940385be2452a8b8c
Python environments. NimbusML provides Python APIs to ML.NET and easily
integrates into [Scikit-Learn](http://scikit-learn.org/stable/)

[2018-11-06 00:59] Oceania2018 commented on #55
@geffzhang It's still python. We can reference it. Thanks for your information.

[2018-11-06 06:50] dotChris90 commented on #60
Ok will follow from now

[2018-11-06 08:32] dotChris90 commented on #59
Until now i go your option 3.

But we should really consider other solution

[2018-11-06 08:41] dotChris90 commented on #2
@fdncred thanks. Yeah before was looking for this. But now more thinking we should develop according issues or use cases. Most importantly.

But thanks for sharing :)

[2018-11-06 11:48] dotChris90 commented on #55
@geffzhang the goal of NumSharp is to create an Numpy like framework. :)

If we want to integrate python code to dotnet, we would go with Iron python. This project is a c# based python interpreter.

On top I think it is a good software training and project to have fun. :)

But thanks for the link.

[2018-11-06 12:39] Oceania2018 commented on #36
I changed back to netstandard 2.0, just added System.Memory, Span<T> is included.

[2018-11-06 12:40] Oceania2018 commented on #43
Hooray

[2018-11-06 12:40] dotChris90 commented on #36
Also an option. Just mean. When standard 2.1 is out we can go with it. :)

[2018-11-06 13:05] fdncred commented on #43
@dotChris90  Is it released yet? or do you know when it will be released?

[2018-11-06 13:15] Oceania2018 opened #63 "Import benchmark tool"
Performance is critical for numerical computation. Import the benchmark tool [BenchmarkDotNet](https://github.com/dotnet/BenchmarkDotNet) to measure and visualize the performance.

[2018-11-06 13:16] dotChris90 commented on #43
hm did not find any concrete date and on https://github.com/dotnet/standard/milestone/3 it seems there still some progress. I am not sure when it will be released. But I am sure it is not yet released. :(

[2018-11-06 13:19] fdncred commented on #63
I've been thinking the same thing. I've used BenchmarkDotNet before but I'm not fluent in how it's used. I'll explore it when I get time.

[2018-11-06 13:30] Oceania2018 commented on #63
@fdncred Appriciate, @dotChris90 Any idea on it?

[2018-11-06 13:37] dotChris90 commented on #63
@Oceania2018 never used it before but you are right. we need some benchmark framework since we need to make critical decisions like your idea with the 1D array. If I did not see with my own eyes that matrix multiplication with 2 1D arrays is faster then 2 2D arrays I would not believe it.

[2018-11-06 13:40] fdncred commented on #63
@Oceania2018, @dotChris90, BenchmarkDotNet is definitely one of the best to use. We'll just have to figure out the details on how to use it properly.

[2018-11-06 14:09] fdncred commented on #36
FYI - net472, netstandard2.0, and netcoreapp2.1 all work with Span<T>. I just tested 472 and netstandard2.0. Made some minor modifications with bd639502d052288d8e5a8337650afe92654cf532.

[2018-11-06 15:34] AoaAquarius opened #64 "Refactor shape property in NDArray"
Since the dimension offset is depended on shapes, they should be binding together. We want to encapsulate these two properties into one class named Shape. Only way to modify shape property is to new it, after that, it becomes read only. That prevents some operations that change shape without modifying dimension offsets.

[2018-11-06 15:38] AoaAquarius commented on #16
The job is done.

[2018-11-06 15:38] #16 closed

[2018-11-06 15:42] Oceania2018 commented on #64
@AoaAquarius Thanks for your contribution, The NDArray look more elegant and safe now.

[2018-11-06 20:37] dotChris90 commented on #43
Yes this is correct. But I say - Oceania2018 already changed the csproj - so all work. So it is not critical to change to 2.1 standard. ;) anyway - the first day it is released, we should change the csproj. ;)

[2018-11-07 13:02] Oceania2018 opened #65 "Release notes and tracking"
We have released v0.6.

![image](https://user-images.githubusercontent.com/1705364/50405980-37833780-0782-11e9-961c-7ae3f0368d0c.png)

@dotChris90 , @fdncred , @AoaAquarius and @Esther2013  Thanks all of you. Your excellent job make the NumSharp more and more closer to its goal.

[2018-11-07 13:06] dotChris90 opened #66 "Which interfaces a NArray shall implement?"
Hello NumSharp fans,

Since all great collections of numeric values implement some interfaces, I was thinking which we shall target?

It is not a critical question but it come to my mind and want to ask the others of you

- IEnumerable< T > --> would be fine since we store all numerics in one 1D array (so should be not to hard to implement)
- IList< T > --> because indexing but as far as I was rea

[2018-11-07 14:08] Oceania2018 commented on #66
I would say let’s do IList<T>, IList is with more methods which is convinent for user.

[2018-11-07 14:29] fdncred commented on #63
Just pushed first benchmark changes with 343c1bba2422c272e2fc87d2c35492aec5131cd4. I suggest starting [here ](https://benchmarkdotnet.org/articles/guides/getting-started.html)for writing further benchmarks.

[code]
|                     Method |   N |       Mean |       Error |     StdDev |        Median |           Min |         Max |
|--------------------------- |---- |-----------:|------------:

[2018-11-07 14:42] dotChris90 commented on #63
@fdncred thanks for sharing. The link is a good "evening book" to read. ;) It is great to see that Numsharp now has testing and benchmark - feels slowly more and more professional.

[2018-11-07 14:52] dotChris90 opened #67 "Rewrite methods so NDArray_Legacy can be finally removed"
- since now we 0.3 I want to start tidy up little bit
- I kick out NDArray_legacy since we finally decided to go with the 1D array storage and I do not want to start a 2nd NDArray version
;)
- I will do it

[2018-11-07 15:01] Oceania2018 commented on #67
Sounds great.

[2018-11-07 17:46] Oceania2018 commented on #58
Done.
[code]

[2018-11-07 17:46] #58 closed

[2018-11-07 18:58] fdncred commented on #63
Here's a test that took more than an hour to run. It ran the tests with 100, 1000, and 3000 items in the arrays.
[code]
|                     Method |    N |             Mean |           Error |         StdDev |            Median |               Min |              Max | Rank |
|--------------------------- |----- |-----------------:|----------------:|---------------:|------------------:|-----------

[2018-11-07 19:09] dotChris90 commented on #63
@fdncred just watch the benchmark test. Extremely nice. Looks easy to use, clean and still very mature. Nice suggestion.

[2018-11-07 20:10] dotChris90 commented on #67
Will close because pull request

[2018-11-07 20:22] dotChris90 opened #69 "Rewrite operations with switch pattern matching"
I just found out that the modern c# language 7.x supports pattern matching in combination with switch.

Since numerical types like double complex, quaternion,... Do not have a common interface or numerical parent class and most numerical operations require operations like +, -, /, * it is necessary to have a switch case inside which check the generic type of ndarray.

At moment I wrote it quite ug

[2018-11-07 20:29] fdncred commented on #63
@dotChris90, Thanks. We've just scratched the surface. There are sooooo many things it can do. We're not using it exactly right but it's a start. I forced the coldstart instead of warm ups because it just took so long.

[2018-11-07 20:31] Oceania2018 commented on #63
@dotChris90 I just found this code extremly slow down NDArray.ARange:
[code]
![image](https://user-images.githubusercontent.com/1705364/48158988-aa4f5680-e299-11e8-80b0-fe1b9db0fa86.png)

[2018-11-07 20:43] dotChris90 commented on #63
@Oceania2018 I was expecting this - but not that huge.

please rise an issue "Remove Extension Linking". This methods tries to make extension methods accessible from F#, Php, Powershell and even Python.NET - see #4 .

But I will remove them. And open maybe 1 Side Project in src folder "NumSharp.NonCSharp" for making it better accessible or "NumSharp.Powershell", "NumSharp.FSharp", and so on. The o

[2018-11-07 20:48] Oceania2018 commented on #63
@dotChris90 I've pushed the code.
The thing is `ndarray` doesn't need arrange extension, also in python numpy.
I think you have to remove it and all the other extensions which is not consist with python numpy.
I added the `NumPy` class to adapt the high level API which is mocking numpy.

[2018-11-07 20:53] dotChris90 commented on #63
@Oceania2018 ah ok got it. I will remove the extension linking class tomorrow - or you do. ;)

[2018-11-07 20:55] Oceania2018 commented on #63
@dotChris90 It looks more sense now, ahh.
![image](https://user-images.githubusercontent.com/1705364/48160331-2dbe7700-e29d-11e8-8314-da682be142ec.png)

[2018-11-07 21:14] dotChris90 commented on #63
@Oceania2018 I was expecting this - same performance killer like DynamicObject but honestly I had no idea what it is such critical. 10 or 20 times ... wow --> thats why compilers are better than interpreter lol

I will rethink about a strategy for operators. Operators in C# can not! be! extensions - they must be static nonextensions method. example The input and output for a NDArray + operation is

[2018-11-07 21:28] Oceania2018 commented on #63
@dotChris90 before you rewrite it, give them a benchmark first.

[2018-11-08 00:46] fdncred commented on #63
Here's another idea. I have not tested this yet but any Enumerable has .AsParallel() method. I wonder if some of the methods would benefit from that?

So it'd be something like this:
[code]
Changed to this:
[code]

[2018-11-08 01:33] fdncred commented on #63
Yes, I realized that is what you did. I'm suggesting that Linq performance could be improved with `.AsParallel()`. And of course, just about any `for` loop could be improved with `Parallel.For`.

[2018-11-08 03:07] Oceania2018 opened #70 "Let more people know about NumSharp"
I've written an article [here](https://medium.com/@haiping008/numsharp-numerical-net-7c6ab6edfe27) which introduce NumSharp.

@dotChris90 Can you start with the [docs](https://numsharp.readthedocs.io).

[2018-11-08 09:55] dotChris90 commented on #63
So I suggest we should consider the following benchmark tests. I write them down no matter if already exists.

- element wise operations */+- : for loop or linq identify which is best
- matrix multiplication : jagged arrays, multidimensional, 1D storage, NDArray, and with multidimensional as base line / reference
- casting : how much cost the pattern matching switch stuff a. K. a. Check generic ty

[2018-11-08 10:19] dotChris90 commented on #70
@Oceania2018 just one little thing. Sorry I mention it.

Shouldn't it be:

var a = np.arange(9).Reshape(3,3)?

So with capital R instead of small r?
The output of arange is a NDArray object. So we call its Reshape method.

What we are doing is method chaining. So we do not use the np.reshape method (if exist didn't look ^^') but the NDArray Reshape method.

[2018-11-08 10:46] dotChris90 commented on #70
@Oceania2018 and question : shall we start doc with python sphinx? Or maybe take docfx? https://dotnet.github.io/docfx/

Just idk if sphinx can parse c# for api documentations by doc comments.

[2018-11-08 11:34] Oceania2018 commented on #70
We should use both of them, docfx is for generating md files, Sphinx is for organizing them, and make docs readable on readthedocs.io.

I prefer arange().reshape(), keep same as numpy as much as possible.

[2018-11-08 18:56] Oceania2018 opened #71 "Support axis in min method"
Add axis parameter to min method. Default is NULL.

[2018-11-08 21:32] dotChris90 commented on #63
@Oceania2018 @fdncred by the way you 2 guys - I did just some experiments with casts. I was really surprised that the generic T[] Data property (so a generic array) can not be directly cast to double[] or sth else. An alternative strategy is the boxing - so array.select(x => (double)x) and so on. But I am not a fan of boxing. The most interesting and maybe promising solution is :

[code]

With thi

[2018-11-09 04:42] Oceania2018 opened #72 "partial class NDArray<T>"
@dotChris90  Don't know why we need this. Could you give me the use case?

[code]

[2018-11-09 04:51] Oceania2018 opened #73 "Implement numpy.sqrt"
Return the non-negative square-root of an array, element-wise.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.sqrt.html

[2018-11-09 04:55] vunb commented on #73
@Oceania2018 Can i do this task?

[2018-11-09 04:57] Oceania2018 commented on #73
@vunb Sure, please do the unit as well.

[2018-11-09 04:58] Oceania2018 opened #74 "Implement numpy.linspace"
Return evenly spaced numbers over a specified interval.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.linspace.html

[2018-11-09 05:00] Oceania2018 opened #75 "Implement numpy.asarray"
Convert the input to an array.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.asarray.html

[2018-11-09 05:04] Oceania2018 opened #76 "Implement numpy.exp"
Calculate the exponential of all elements in the input array.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.exp.html

[2018-11-09 05:05] Oceania2018 opened #77 "Implement numpy.absolute"
Calculate the absolute value element-wise.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.absolute.html

[2018-11-09 05:07] Oceania2018 opened #78 "Implement numpy.where"
Return elements, either from x or y, depending on condition.
https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.where.html

[2018-11-09 05:08] Oceania2018 opened #79 "Implement numpy.empty"
Return elements, either from x or y, depending on condition.
https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.empty.html

[2018-11-09 05:09] Oceania2018 opened #80 "Implement numpy.log"
Natural logarithm, element-wise.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.log.html

[2018-11-09 05:10] Oceania2018 opened #81 "Implement numpy.concatenate"
Join a sequence of arrays along an existing axis.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.concatenate.html

[2018-11-09 05:10] Oceania2018 opened #82 "Implement numpy.sin"
Trigonometric sine, element-wise.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.sin.html

[2018-11-09 05:12] dotChris90 commented on #72
No use case in c#.

Was again for the other languages like powershell or f#.

You can remove the file extensionlinking totally or I do by myself. :)

[2018-11-09 05:24] Oceania2018 opened #83 "Support axis for numpy.max"
The max method should support axis parameter.

[2018-11-09 06:06] dotChris90 opened #84 "Question : shall we create subfolders?"
A very stupid question again. But I feel that we slowly increase the number of Apis day by day.

Hey that's good but also will lead to higher complexity and more files.

Should we create new folders and split existing files to them.

I was thinking of folder like

- Creation (for method create arrays)
- Filtering (for method delivering a view of array, or searches )
- Math (for the new sin, exp, l

[2018-11-09 11:29] dotChris90 commented on #69
close because done and tested

[2018-11-09 11:29] #69 closed

[2018-11-09 11:58] dotChris90 commented on #72
Close because class was removed totally in #87

[2018-11-09 11:58] #72 closed

[2018-11-09 11:59] #67 closed

[2018-11-09 12:00] dotChris90 commented on #27
remove because matrix now inheritage from NDArray

[2018-11-09 12:00] #27 closed

[2018-11-09 12:52] Oceania2018 commented on #72
New a project in the src folder named `NumSharp.PowerShell`.

[2018-11-09 12:53] Oceania2018 commented on #73
@vunb Any update?

[2018-11-09 13:08] Oceania2018 commented on #65
### v0.4 release planning Dec 1st, 2018
#### changes:
* Performance improved for np.arange.
* Added axis support for np.amin.
* Separate PowerShell extension project.
* Remove all dynamic variable.
* Added benchmark project.

@dotChris90 @fdncred @Esther2013 @AoaAquarius @PppBr Please add more if you come up ideas.

[2018-11-09 16:14] fdncred commented on #63
Boxing kills performance. I've seen articles that talk about performance difference between "As casting" compared to "direct casting" or "is casting".

https://www.danielcrabtree.com/blog/164/c-sharp-7-micro-benchmarking-the-three-ways-to-cast-safely
https://stackoverflow.com/questions/496096/casting-vs-using-the-as-keyword-in-the-clr
https://buildstarted.com/2014/06/27/casting-in-csharp/

[2018-11-09 16:42] dotChris90 commented on #63
@fdncred thanks for sharing. The articles explains a lot. I was often wondering about the different casting options.

Most import is that pattern matching is really the strategy to go with for us. :)

[2018-11-09 16:49] #83 closed

[2018-11-09 19:17] dotChris90 opened #89 "Rewrite Shape class as struct"
Is there any reason to keep shape as "reference" class?

If I remember well classes are references by default and structures are not.
I just think in linear algebra there will be very often the case that we set the shape of one array to a shape of an other array. Since all is done by reference if I change the shape of a array the shape of 2nd arrays shape will change also.

This is a side effect.

[2018-11-09 19:29] Oceania2018 commented on #89
We are used to writing code with classes. If we can prove that `struct` is better than `class`, we can consider using struct.

[2018-11-09 21:43] vunb commented on #73
I have just added the code. Please review it!

[2018-11-09 22:02] #73 closed

[2018-11-09 22:26] dotChris90 opened #93 "Add Argument check in benchmark test"
I just saw that different persons have different priorities on benchmark tests.

I suggest that we define arguments check - something like "dotnet run -c release LinqTest " or "dotnet run -c release NDArrayPerformance" or something like this.

Also add a powershell file on root level - so easier to execute this benchmark tests.

@Oceania2018 if you do not mind I would do this

[2018-11-09 22:44] Oceania2018 commented on #93
@dotChris90 Please do that.

[2018-11-10 14:31] dotChris90 commented on #93
close because started now need to be extended by everybody

[2018-11-10 14:31] #93 closed

[2018-11-10 14:54] dotChris90 commented on #89
Ok - when looked again carefully into the class I changed my mind. The important Lists inside there are all read only. So there is no need to change them because side effects are not possible.

[2018-11-10 14:55] #89 closed

[2018-11-10 15:10] Oceania2018 commented on #93
I've looked at the commit. I don't think it's good flexible. Please try to use class reflection feature.

[2018-11-10 18:36] dotChris90 opened #95 "Extend the guidelines"
@Oceania2018 @fdncred I started our Wiki (was not a lot but at least some lines ....)

On https://github.com/Oceania2018/NumSharp/wiki/Design-guidelines I started a page with guidelines.
Because I found our discussions and investigations last weeks very interesting and want to write them down. Especially casting, performance, arange instead of ARange, ... such things.

If you do not like some part

[2018-11-10 22:02] #59 closed

[2018-11-10 22:05] dotChris90 commented on #2
I will close this because I guess it is better to be issue driven. ;)

[2018-11-10 22:05] #30 closed

[2018-11-10 22:22] dotChris90 opened #97 "Create new projects NumSharp.Python for Iron python"
I know it sounds strange. But I come up with the idea that the best way to see how close we are to numpy is to try NumSharp in python.

Which project would be best? Iron Python. I just downloaded Iron python 2.7 and imported NumSharp. Yeah it works.

Just at some points it feels strange since Iron python has generics c python does not have. For this reason I would like say that we should start /sr

[2018-11-11 01:19] Oceania2018 commented on #59
Submodule is another option.
https://blog.github.com/2016-02-01-working-with-submodules/

[2018-11-11 06:49] dotChris90 commented on #59
Cool. I was always wondering what this strange folder in ironpython is.

https://github.com/IronLanguages/ironpython3/tree/master/Src

From the blog it's a submodule. Indeed that would be an option.

[2018-11-12 05:59] dotChris90 commented on #97
Ok done.

But think we can change from python Modul to C# class Lib since I chatted with ironpython team and they explained most of python objects implement the common interfaces like IList.

https://files.gitter.im/IronLanguages/ironpython/XAVD/image.png

[2018-11-12 11:13] dotChris90 commented on #97
Done - now (merge with #99 ) NumSharp for Ironpython is totally C# classlib and seems it works.

[2018-11-12 11:13] #97 closed

[2018-11-12 11:13] #2 closed

[2018-11-12 13:12] fdncred commented on #63
it's probably safe to close this.

[2018-11-12 13:12] #63 closed

[2018-11-12 23:02] #77 closed

[2018-11-12 23:03] Oceania2018 commented on #95
Looks great. Good job!

[2018-11-12 23:07] Oceania2018 commented on #77
@KevinMa0207 Could you move np.absolute to Math folder. That would look organizational. Thanks!

[2018-11-13 00:04] #82 closed

[2018-11-13 00:04] #80 closed

[2018-11-13 00:05] #74 closed

[2018-11-13 00:13] #43 closed

[2018-11-13 08:13] dotChris90 commented on #84
I close issue and say. Yes folders would be nice :)

[2018-11-13 08:14] #84 closed

[2018-11-13 13:23] Oceania2018 commented on #81
@vunb Could you do this one?

[2018-11-13 13:43] vunb commented on #81
Okay. I will do it tomorrow

[2018-11-13 15:23] Oceania2018 opened #102 "Implement numpy.normal"
Draw random samples from a normal (Gaussian) distribution.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html

[2018-11-13 15:24] Oceania2018 opened #103 "Implement numpy.random.standard_normal"
Draw samples from a standard Normal distribution (mean=0, stdev=1).
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.standard_normal.html#numpy.random.standard_normal

[2018-11-13 17:20] #103 closed

[2018-11-13 17:20] #102 closed

[2018-11-14 01:51] Oceania2018 opened #104 "Implement numpy.power"
First array elements raised to powers from second array, element-wise.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.power.html

[2018-11-14 03:58] Esther2013 commented on #104
Done this task and close.

[2018-11-14 03:58] #104 closed

[2018-11-14 22:04] Obrain2016 commented on #75
adopt

[2018-11-15 00:17] fdncred commented on #95
Awesome! Good job. Maybe you should put your c# demo app in the repo as an example.

[2018-11-15 03:44] dotChris90 commented on #95
Amazing. I really was impressed when saw it. 🤩

[2018-11-15 03:48] Oceania2018 opened #105 "Implement numpy.vdot"
Return the dot product of two vectors.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.vdot.html#numpy.vdot

`ndarray.vdot` should be put in `LinearAlgebra` folder.

[2018-11-15 03:49] Oceania2018 opened #106 "Implement numpy.inner"
Inner product of two arrays.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.inner.html#numpy.inner

`ndarray.inner` should be put in `LinearAlgebra` folder.

[2018-11-15 03:50] Oceania2018 opened #107 "Implement numpy.outer"
Compute the outer product of two vectors.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.outer.html#numpy.outer

`ndarray.outer` should be put in `LinearAlgebra` folder.

[2018-11-15 03:51] Oceania2018 opened #108 "Implement numpy.tensordot"
Compute tensor dot product along specified axes for arrays >= 1-D.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.tensordot.html#numpy.tensordot

`ndarray.tensordot` should be put in `LinearAlgebra` folder.

[2018-11-15 03:58] dotChris90 commented on #95
By the way. Technically background question.

You used a matplotlib adapter and in background also using matplotlib. Amazing.

I was wondering how much work it would be to make a own matplotlib but html based.

In my mind hat sth like
- tiny web sever in background
- plotly.js as drawing lib
- chromely project for rendering

[2018-11-15 04:00] Oceania2018 commented on #95
Our hard work is worth it.
@dotChris90 I don't want to implement a ploting library for now. Let's focus on NumSharp and Pandas.NET.

[2018-11-15 16:45] tatadyj commented on #105
give a try vdot

[2018-11-15 20:15] Oceania2018 opened #110 "Implement numpy.ones_like"
Return an array of ones with the same shape and type as a given array.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.ones_like.html

[2018-11-15 20:53] Oceania2018 commented on #45
Moved to creation folder, and make it as NumPy extension, because `numpy.ones` is belong to NumPy, not `NDArray`.

[2018-11-15 23:33] Oceania2018 commented on #110
Done and close.

[2018-11-15 23:33] #110 closed

[2018-11-16 18:08] Oceania2018 opened #111 "NumSharp GPU acceleration"

[2018-11-17 04:35] Oceania2018 opened #114 "Implement numpy.fft.fft"
Compute the one-dimensional discrete Fourier Transform.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.fft.fft.html#numpy.fft.fft

[2018-11-17 15:01] Oceania2018 opened #115 "Implement numpy.matmul"
Matrix product of two arrays.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.matmul.html

[2018-11-17 15:12] Oceania2018 opened #116 "Intel Math Kernel Library (MKL)"
Performance-sensitive algorithms can be swapped with alternative implementations by the concept of providers like Intel MKL.
https://software.intel.com/en-us/performance-libraries

[2018-11-17 18:19] dotChris90 commented on #70
@Oceania2018 at the moment I experiment with docfx - it does not look as bad as i though. Especially the API documentation and the style looks promising. Moreover docfx is the one which is used from Microsoft I though. The hosting we could do on Github Pages.

Just feel annoyed at sphinx python doc, that it highlight my C# code but it thinks it is python lol so the code looks not good. And was inv

[2018-11-17 18:30] Oceania2018 commented on #70
Does docfx generate markdown file? I think docfx is used to generate developer's API reference, because it is generated from souce code directly. Sphinx is often used to make tutorial document, like quick start.

[2018-11-17 18:58] dotChris90 commented on #70
Yes they are now able to do it. I was also surprised. Seems they developed quite well.

You can write so called articles which is equivalent sphinx tutorials. Using markdown. Very easy seems. So tutorials and api and swagger rest api and more seems (ok rest API is not important for us....).

I can maybe experiment with it and upload to my repo. If we think it looks good we can go with it. If not w

[2018-11-18 05:10] dotChris90 opened #117 "Implement numpy.transpose"
Following https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.transpose.html

[2018-11-18 05:13] dotChris90 commented on #117
Since we don't have a view implementation already. I suggest to have a non view implementation first. That means the transposed output is not a reference to input with different shape and data. Output and input are 2 different memory addresses.

[2018-11-18 14:51] Oceania2018 opened #118 "Implement numpy.ndarray.view"
New view of array with the same data.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.ndarray.view.html

[2018-11-18 14:53] Oceania2018 opened #119 "Implement numpy.ndarray.copy"
Return a copy of the array.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.ndarray.copy.html

[2018-11-18 17:01] dotChris90 commented on #70
@Oceania2018 an example for our api
https://dotchris90.github.io/NumSharp/api/NumSharp.NDArray-1.html

And example for article :
https://dotchris90.github.io/NumSharp/articles/NDArray.Creation.html

@Oceania2018 if u not too angry with me. I would like to go with docfx. They plan to support multiple languages besides c# in future and using 100% md for articles. Plus the generated docs folder can b

[2018-11-19 02:29] Oceania2018 commented on #70
@dotChris90 Docfx looks awesome. keep going.

[2018-11-19 02:48] dotChris90 commented on #70
@Oceania2018 thanks. Before thinking about pull requests. Is NumSharps github page active? If not, could you activate it? Not sure if I can since u the founder / constructor of SciSharp organizations. :)

[2018-11-19 03:29] dotChris90 commented on #70
@Oceania2018 thanks a lot. Then today maybe write some more user tutorials. ;)
And push.

[2018-11-19 03:32] Oceania2018 commented on #70
Sounds great. NumSharp got 80+ stars now. Seems like people  really need it.

[2018-11-19 03:42] dotChris90 commented on #70
Totally. Before c# was not the language of numeric. Since this year Microsoft push this AI and ML topics so hard... But Microsoft didn't give us a numerical stack.

But people deserve and need a numerical stack like NumSharp. :)

[2018-11-19 11:52] dotChris90 commented on #70
Ok it worked. Just merged the docs which I already made. Nothing new. But will write some tutorials for user and also a small Readme how to use docfx best.

It's time we dotnet developers go deeper to science, machine learning and numerics.

[2018-11-19 13:54] fdncred commented on #70
docfx is looking good.

[2018-11-20 11:30] Oceania2018 opened #123 "Support numpy.dtype"
We have to refactor the core `NDArray` class in order to support `numpy.dtype`.
The key change will be the internal array storage. I'm going to retire the generic type design after the v0.4 released.  Separating the internal storage will enhance the performance about 25%, and make the `NDArray` be a true `NumPy` in `.NET`. I've made some experiment, and seems it's feasible. The benchmark is also l

[2018-11-20 11:47] Oceania2018 opened #124 "Implement numpy.random.poisson"
Draw samples from a Poisson distribution.
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.poisson.html

[2018-11-20 11:48] Oceania2018 opened #125 "Implement numpy.random.exponential"
Draw samples from an exponential distribution.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.exponential.html

[2018-11-20 12:07] dotChris90 commented on #123
If you upload the benchmark tests and we look little bit we can choose.

I am not against or for it. Since it is a critical decision we need to check performance and use ability very strictly.

But yeah why not. If u think it's feasible and good for users I am in.

The last big change of NDArray (store all data in one array) was brilliant so we can do a change with generic too.

[2018-11-20 12:21] Oceania2018 commented on #123
Uploaded the code, you can run `dotnet NumSharp.Benchmark.dll nparange`.
I'll do more test later.

[2018-11-20 13:35] fdncred commented on #123
@Oceania2018 , my fear on using object is that it introduces boxing which is notoriously slow. however, I think that if we benchmark everything we can make a decision based on benchmarks.

[2018-11-20 13:39] dotChris90 commented on #123
True. That's why we need to benchmark.

If we can't find a performance good cast we mudt keep like now.

I really think about performance critical operations like matrix Multiplication, inverse, SVD

We can't do this with boxing. :) just stuff we need to investigate.

Otherwise dtype need to spit out the generic type like double as return value.

[2018-11-20 13:48] dotChris90 commented on #123
I mean sth like.

Type dtype
{
    get
    {
         return typeof(T) ;
     }
}

[2018-11-20 13:50] fdncred commented on #123
ya, I like passing in a data type and then switch/case on that type.

[2018-11-20 13:57] dotChris90 commented on #123
Yes but usually operations like matrix dot and inv and so on has 2 or 3 data arrays which need be cast.

I am 100 % sure switch case works but.... The as keyword I am not sure if it can cast object array to double array.

At the moment. Inv, dot, operators etc works with 1 switch and 1 or 2 as keywords.

The result array is switch candidate and the 1 or 2 operands arr1 and arr2 are cast with as. B

[2018-11-20 14:20] Oceania2018 commented on #123
Sorry it might confused, I’m not saying using object[], I’ll use int[] to store int values and double[] to store double values. That is what I am saying, dedicated array to store

[2018-11-20 14:22] fdncred commented on #123
I was confused because your class doesn't use object[] LOL. I like what you've done with dtype.

[2018-11-20 14:30] dotChris90 commented on #123
Ah sorry got it.

But unfortunately I don't see any benefit for this than.

The reason for generic is really that we don't have to implement similar classes x times.
Like List of int.

If u worry the dtype it's simple our generic type.

So return typeof (T).

At the moment don't understand how u want to support different numerical types. All nd array have int [], double [] etc array? Maybe if u sh

[2018-11-20 15:20] dotChris90 commented on #123
Or I say like that lol
If u give me an example of how to create an ndarray of double and int I try to implement the operation and dot method.

If it's easy to implement i say let's rewrite. But this operation for linear algebra are quite important in Numpy so that's why I always want to try them first when rewrite. :)

[2018-11-20 17:50] dotChris90 commented on #123
@Oceania2018 @fdncred  just some considerations.... Again.... Sorry for be so annoyingful lol.

If u really want to give a NDArray for every possible numerical type an array... So most of the properties are always null since just one storage is in use.

Plus we must now specify what are possible data types. Double, float, complex, quaternion,... And in theory even chars and timedate (for pandas in

[2018-11-20 17:54] fdncred opened #126 "Access Denied"
@Oceania2018, I tried to push a change to handle a more broad array of image bpp formats. It appears that my commit permissions have been revoked. If that's the case, this is the change to file `Creation/Numpy.array.cs`.

[code]
Thanks.

[2018-11-20 18:02] fdncred commented on #123
I traditionally vote for whatever provides the best performance. Regarding multiple case/switch statements in every class, I think that is what T4 templates are for. Perhaps we should investigate their usage.

[Docs](https://docs.microsoft.com/en-us/visualstudio/modeling/run-time-text-generation-with-t4-text-templates?view=vs-2017)

[2018-11-20 18:05] dotChris90 commented on #123
Unfortunately Templates does not work with net core....

LOL was also thinking about this before :)

But anyway if somebody of u know a code generator for this use case write it here ;)

[2018-11-20 18:05] Oceania2018 commented on #126
We didn't revoke any write access.
![image](https://user-images.githubusercontent.com/1705364/48793442-8e49ad00-ecbc-11e8-8b32-6ef050e42b4b.png)

[2018-11-20 18:06] fdncred commented on #123
This [link](http://www.westonsoftware.com/net-core-and-t4-templates-for-generating-code) is about core + t4

[2018-11-20 18:09] dotChris90 commented on #123
Ok seems things slowly change lol OK

Thanks for sharing the link.
Will read it tomorrow

[2018-11-20 18:14] fdncred commented on #126
I have to request permission again. I think it may have to do with changing names to SciSharp. So I clicked request. I assume it's waiting for @Oceania2018 's approval.

![screen shot 2018-11-20 at 12 12 39 pm](https://user-images.githubusercontent.com/343840/48793779-acfc7380-ecbd-11e8-8fa3-e28b19f4cb48.PNG)

[2018-11-20 18:54] fdncred commented on #126
fixed

[2018-11-20 18:54] #126 closed

[2018-11-20 21:37] Oceania2018 commented on #123
[code]
[code]
![image](https://user-images.githubusercontent.com/1705364/48804418-2904b480-ecda-11e8-87e0-3bd928080411.png)

[2018-11-20 22:17] Oceania2018 commented on #65
### NumSharp v0.5 release planning Jan 1st, 2019
#### changes:

* Updated online documents.

@dotChris90 @fdncred @Esther2013 @AoaAquarius @PppBr @vunb @KevinMa0207 @tatadyj  Please add more if you come up ideas.

[2018-11-20 23:20] fdncred commented on #123
While doing some research for `Span<T>` I stumbled upon this set of classes that seem somewhat similar to what we're trying to do here. It's worth a [look](https://github.com/bytefish/TinyCsvParser/tree/master/TinyCsvParser/TinyCsvParser/TypeConverter).

[2018-11-21 02:29] dotChris90 commented on #123
I am in. When find time will try it out by operation methods and dot.

[2018-11-21 04:59] Oceania2018 commented on #123
Branched v0.4 and released to NuGet, will refactor on master.

[2018-11-21 05:31] dotChris90 opened #127 "More Abstract properties in classes"
As we said we want to rewrite the NDArray class I suggest to be more abstract in properties etc.
This issue is related to #123.

I mean we should define non generic interfaces like IStorage or INDArray and Storage and ndarray implement them.

Why? Because NDArray could have a property IStorage. Storage is just one implementation. If in future we want redesign it again or do a 2nd implementation of

[2018-11-21 06:06] dotChris90 commented on #123
@Oceania2018 also check #127. We must think about abstract interfaces. Otherwise in future rewriting will be very hard....

[2018-11-21 13:00] Oceania2018 commented on #123
@dotChris90 I'll think about that. The difficult thing is we can't provider a interface like `T[] Get<T>()` or `object Get()` due to performance issue.

[2018-11-21 15:38] Oceania2018 commented on #127
We'll discuss further.

[2018-11-21 18:21] dotChris90 commented on #123
Performance is quite important but following software pattern, good style and a clean architecture is a must. And just warn you. NumSharp is not too big at moment but in 2 years? That's the reason numpy pandas also has abstract classes / interfaces. Yes numpy and pandas also has abstract classes for this reason. :p

If the storage has a cast method like Get<T> which output a cast of the whole arra

[2018-11-21 18:56] dotChris90 commented on #123
@Oceania2018 @fdncred  hm guys not sure if you know this before .... just one thing I just found out.

These days we talked about dType in a way that every NDArray has multiple properties in form of "int32[]", "int64[]", "double[]", "Complex[]" and so on. Yes that is an option. I just find not the best one since in OOP world we should avoid unused properties.

So what about a storage class with ju

[2018-11-21 19:13] Oceania2018 commented on #123
@dotChris90 Totally agree with you. We will find the balance between design elegant and performance. Pull the cod check if you are OK with the new `NumPy` class. I've finished the `np.arange` and `np.reshape`.

[2018-11-21 19:31] dotChris90 commented on #123
Yeah. Your code looks promising. Just the value property of storage gives a object [] which must be boxed and can't be cast via as keyword. This is the only thing was in my mind now.

Side information :
The reason for this is that object [] and double [] (or int[] or any others) are like sister and brother. They are both children of system. Array. But the cast via " as" keyword (which had best per

[2018-11-21 19:34] dotChris90 commented on #123
BTW if u don't mind I can do the abstract stuff next week when back Germany.

I know at moment it's not too important for functionality but just for architecture and design.

[2018-11-21 19:37] Oceania2018 commented on #123
[code]

[2018-11-21 19:53] Oceania2018 commented on #123
I'm testing for `Array`, if no performance compromise. I'll use it instead of int[] and double[] ugly thing.

[2018-11-21 19:59] dotChris90 commented on #123
At least for matrix multiplication etc there should be not too much performance problems if we use the as keyword cast before all for loops lol

Will also look maybe next days.

[2018-11-21 20:03] Oceania2018 commented on #123
`Array` looks good in permormance. You can do the abstract for IStorage when you are available. I just switched to `Array` LOL.

[2018-11-22 03:50] Oceania2018 commented on #123
I've tried the new `NDArray`, it's very awesome. In my use case, everything goes well. I can write function with unified interface, which return the same `NDArray`, without T1, T2, Tn.

[2018-11-22 04:08] dotChris90 commented on #123
That rocks. :)

I saw the tests and changes. Now really satisfied. U did a great job.

I just wish C# had sth like numerical class. In Matlab (as an example) double etc are children of numeric. So you can add an int to double etc since all implement the operations etc. In c# they are children of value types and do not implement always operations. That sucks but can't be changed.

Oh so the indexin

[2018-11-22 16:43] Oceania2018 commented on #127
@dotChris90 Sometimes we need keep it simple. More abstraction will bring more burden for C# programming compiler. Hard to optimize the code.

[2018-11-22 18:06] dotChris90 commented on #127
As you like. I think with the Array in Storage at moment we are already flexible enough. At least the code looks very flexible.

[2018-11-22 18:12] dotChris90 commented on #123
hm I still think the generic NDArray could be good in some situations like direct indexing (e.g. double value = np1[1,2,3]) - for this reason I made pull request #128 . We could deliver a generic and non generic version but the generic version is a child of non generic. In this way we can deliver a sweet indexing version but also go on Pandas with the non generic version. Our users shall decide by

[2018-11-23 17:16] dotChris90 opened #129 "Doc : Better specification for all classes (What class has what task)"
Since now NumSharp offers a system for non generic, generic, dynamic and static we are in a good position for further dialog / discuss about classes tasks.
Moreover this issue can be used for the developer documentation.

Let us call it "tidy up" and think about what we really need and most important need to think about the SW design.

At the moment I see the following classes and their tasks

- S

[2018-11-23 18:39] Oceania2018 commented on #129
Excellent concept describing. For shape in storage, my idea is storage should be responsible for persisting and seeking data form any dimension and position, NDArray’s main responsibility is calculating, not seek data form storage. We are open for this topic.

[2018-11-23 18:51] dotChris90 commented on #129
hm good point.

from testability point of view storage should not have a shape.
from logic I am not sure.

We keep issue open and I look again the code. what fits better.

It's really just design question. user should not care this because they are not official Apis.

[2018-11-24 04:49] dotChris90 opened #130 "feature : add method "ToGeneric< T >" to NDArray non generic"
this method shall transform the non generic into a generic one.

in this way we do not have to develop extra builder methods to construct generic arrays. we simple use the non generic things to construct non generic and transform to generic.

there will be no memory issue since storage is reference type and so shape and storage simple can be taken from non generic array.

[2018-11-24 05:11] Oceania2018 commented on #130
I got you.

[2018-11-28 04:12] dotChris90 commented on #129
I come up with decision.

I agree with you. the storage should be responsible for every data access and converting stuff.

But then we must be careful. Ndarray shall have no own shape. if necessary it shall call methods from its storage object. dtype same.
ndarray must return the dtype of storage at e. g. it's property dtype.

[2018-11-30 20:14] Oceania2018 opened #136 "np.dot failed"
The unit test failed for [SciSharp-Learn](https://github.com/SciSharp/SciSharp-Learn).

![image](https://user-images.githubusercontent.com/1705364/49312589-35db9200-f4aa-11e8-8d79-dc84816d1f6b.png)

![image](https://user-images.githubusercontent.com/1705364/49312566-2a886680-f4aa-11e8-8e11-95b70dea0180.png)

[2018-12-01 06:01] dotChris90 commented on #136
ok I will check.

[2018-12-01 07:33] dotChris90 commented on #136
ahhhhh damn

the units tests for operations all now for the old ndarrays lol

I was confused before and asking "Why unit tests not fail before?"

[2018-12-02 00:16] Oceania2018 commented on #136
@dotChris90 has fixed it.

[2018-12-02 00:16] #136 closed

[2018-12-03 15:37] dotChris90 commented on #130
already done

[2018-12-03 15:37] #130 closed

[2018-12-03 15:38] dotChris90 commented on #123
@Oceania2018 we can close this here - right?

[2018-12-03 16:34] Oceania2018 commented on #123
close now

[2018-12-03 16:34] #123 closed

[2018-12-03 19:35] Oceania2018 opened #138 "Implement numpy.ravel"
Return a contiguous flattened array.
https://docs.scipy.org/doc/numpy/reference/generated/numpy.ravel.html

[2018-12-05 03:36] Oceania2018 commented on #65
NumSharp v0.6 release planning Feb 1st, 2019
Key changes:

[2018-12-05 03:37] #138 closed

[2018-12-05 03:38] #127 closed

[2018-12-05 03:39] Oceania2018 commented on #60
@dotChris90 Could you check it now, it seems like doesn't work due to refactor. Thanks.

[2018-12-05 03:39] Oceania2018 commented on #55
Positive response.

[2018-12-05 03:39] #55 closed

[2018-12-05 05:31] dotChris90 commented on #60
yeah will do

[2018-12-07 06:15] Oceania2018 opened #144 "Implement linalg.lstsq"
Return the least-squares solution to a linear matrix equation.
https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.linalg.lstsq.html

[2018-12-09 15:29] dotChris90 opened #145 "Add LAPACK functionality"
In order to reduce the complexity and the code we have to write we should think about using a native lib LAPACK. If we can use native lib we would have a lot easier for QR, inverse, SVD, EVD, etc.

This issue is for keeping things and ideas we had.

@fdncred @Oceania2018 @vunb  if anybody of you have an idea or suggest - write it down ;)

[2018-12-09 15:34] dotChris90 commented on #145
I tried first of all http://www.netlib.org/lapack/ which is even compiled for windows. The problem I have is that I can not use PInvoke for it. C# can not find the dll even it lay beside. Usual this means others dll are missing. I think gcc based libraries .... or it even expect that gcc libs are on the system.

[2018-12-09 15:36] dotChris90 commented on #145
I found out that portable pythons have their own lapack dll which can be detected by python.  https://portablepython.com/wiki/Download/ I will maybe look if there is a lapack lite dll for x64. ;)

[2018-12-09 16:31] fdncred commented on #145
Look at this first https://github.com/Proxem/BlasNet

[2018-12-09 19:56] dotChris90 commented on #145
anybody has experience with https://sourceforge.net/projects/arma/ ? the download brings a dll which is at least visible for the PInvoke - will check now if we can invoke.

[2018-12-09 20:40] fdncred commented on #145
Here's the MKL link. https://software.intel.com/en-us/mkl

[2018-12-09 21:09] dotChris90 commented on #145
ah guys. the Armadillo Lib from source forge link brings a compiled version of lapack. and pinvoke can find it. until now I got some cast errors but that's OK. better as before.

The Intel library we can try out too but I am not sure how popular they are in open source world. the lapack from armadillo is the default open source version which is used in most Libraries. but we could deliver 2 versio

[2018-12-10 09:17] dotChris90 commented on #145
success! YEAH! I share my experience so far.

The Armadillo Lib from source forge brings an compiled, native DLL of LAPACK.
According to their Readme it is the compiled version of http://www.netlib.org/lapack/. So the one and only original LAPACK. I tested just x64 so far and on Windows 10 - no linux tests or x86.

[Files In Explorer](https://github.com/dotChris90/NumSharp/blob/master/src/NumSharp

[2018-12-10 12:55] Oceania2018 commented on #145
Congrats.

[2018-12-10 13:32] fdncred commented on #145
I did some research this morning and I'm still in the camp that MKL should be used, unless you plan on running on AMD processors. In that case, we should use OpenBLAS. MKL specifically tuned and optimized by hand for Intel processors and is much faster than just about anything else, and it's [free](https://software.intel.com/en-us/mkl/choose-download/windows).

Some benchmarks
http://markus-beucke

[2018-12-10 13:42] fdncred commented on #145
[Armadillo ](https://sourceforge.net/projects/arma/)looks like a nice [wrapper ](http://arma.sourceforge.net)to all of these libraries too. Code is on [GitLab ](https://gitlab.com/conradsnicta/armadillo-code)too. However, we'd have to P/Invoke it too.

This is interesting
http://www.dotnumerics.com/NumericalLibraries/LinearAlgebra/CSLapack/Default.aspx
http://www.dotnumerics.com/NumericalLibraries

[2018-12-10 15:45] dotChris90 commented on #145
@fdncred thanks for the explaining. Sure MKL is the best performance option but on intel processors which is a minus point. The important thing in todays time is not - its free or not - the most important is - is it open Source?

On Top of this numpy do not use the intel lib as standard. They use the default implementation. About Anaconda I am not sure ....

My dream is that the users can choose f

[2018-12-10 17:08] fdncred commented on #145
@dotChris90, MKL is just a dll or two. You have to install it to get those dlls i.e. you can't just download the dlls. But once you have the dlls you could use them without the installation environment.

If your goal is to let the end user decide which they want, then it seems like Armadillo would be best since it supports most of the various opensource LAPACK, BLAS, MKL, OpenBlas, etc.

It doesn'

[2018-12-10 17:54] dotChris90 commented on #145
all ok :)

i think this Intel and AMD libraries is a must for performance after our Apis was implemented. maybe i should install them and see how we can use them in parallel. :)

and every information is a good information ;)

[2018-12-10 19:45] dotChris90 commented on #144
@Oceania2018 After QR now will try dgels_ but .... get the "memory corruption" error -.- when finding out the correct cast values, can do this lstsq

[2018-12-11 13:57] dotChris90 commented on #144
@Oceania2018 I will keep this issue open - the implementation at moment just return the param array - but according to numpy doc - there are much more output like residuals, rank, singular values, ...

[2018-12-11 13:59] Oceania2018 commented on #144
really, I thought _umath_ is another library.

[2018-12-11 14:43] dotChris90 commented on #144
not sure. I just know the portable windows python version have just one lapack lite. but year u are right the normal python has a 2nd dll there

[2018-12-11 20:38] dotChris90 opened #149 "Change nuget package to runtime based structure"
I just started this issue here because no matter which LAPACK we take in future - Intel, AMD, Standard Fortran base or what ever - NumSharp has platform specific code from now on.

I know at moment most .NET interested people are windows users. But if we really want to get more attention we must consider Linux and Apple users as well. So in short words - beside our managed DLL we will have native

[2018-12-12 10:41] dotChris90 commented on #149
just checked how ML.NET handling this.

Managed DLLs / .NET Code --> microsoft.ml\0.8.0\lib\netstandard2.0\
(Follow structure /{packageName}/{Version}/lib/{DotNetVersion}/)

Unmanaged Libraries --> microsoft.ml\0.8.0\runtimes\win-x64\native\
(Follow structure /{packageName}/{Version}/untimes/{RID}/native

[2018-12-12 15:07] dotChris90 commented on #149
now packaging work but still need to check if native libraries can be found by referencing projects

[2018-12-12 15:15] fdncred commented on #149
@dotChris90, I've seen dozens of P/Invoke C# solutions use [InteropDotNet](https://github.com/AndreyAkinshin/InteropDotNet) to automatically detect the runtime environment (x86/x64) and load the proper dynamic library (dll/so).  Check it out. This may be something that's helpful.

[2018-12-12 16:08] dotChris90 commented on #149
hey cool I thought pinvoke is only option. will check this

[2018-12-12 16:35] fdncred commented on #149
This uses p/invoke too but it gives some tooling in order to find the appropriate dll/so/x86/x64 for your environment. If you do this [search ](https://github.com/search?q=InteropDotNet&type=Code)you'll see the people who use it and how they use it.

[2018-12-12 16:39] fdncred commented on #149
I take it back, this is a little bit different than p/invoke.

[2018-12-12 18:38] dotChris90 commented on #149
it's Ok :) thanks. I am very suprised that the dotnet nuget command line tools already can see the native lib when we follow the "runtimes/{rid}/native" structure. I do not know why or since when - but PInvoke find the native lib even it is not side by side but in this native folder.

[2018-12-12 20:01] dotChris90 commented on #116
Intels MKL library implement the LAPACK interfaces - so it would be logical to think about a layer with different LAPACK providers - in other words - a strategy pattern. Let users decide which LAPACK provider they want to use.

It will be not much work since LAPACK usual means --> all interfaces are the same. So the PInvoke class would be the same - just the native lib is different.

[2018-12-12 20:01] Oceania2018 commented on #116
Sounds great.

[2018-12-12 20:05] fdncred commented on #116
This is exactly what I was saying in #145 when I mentioned and linked to Armadillo.

[2018-12-13 00:58] Oceania2018 opened #154 "Use implicit conversions to simplify element access"
I happened to see some examples of using implicit conversions. It feels very good. If we can use to access ndarray's element, the code will look very clean.

[code]
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/implicit

[2018-12-13 07:20] dotChris90 commented on #154
@Oceania2018 DAMN! I did not know it exist. This is so cool. We do not need the ToDotNetArray method but can use such things. ;)

[2018-12-13 10:08] dotChris90 commented on #154
we should start a folder "convert" or "casting" because with this we get a lot scenarios

[2018-12-13 10:18] dotChris90 commented on #154
sth like this would be awesome

NDArray A = {{1.0,2.0},{3.0,4.0}};

not sure if easy to reach

[2018-12-13 11:39] Oceania2018 commented on #154
@dotChris90 , do some experiment, can't wait. I'm focused on [TensorFlow.NET](https://github.com/SciSharp/TensorFlow.NET) currently. Hope you get it out. But no rush, we could add this feature for v0.7.

[2018-12-13 12:21] Oceania2018 opened #155 "Turn NumPy to static class"
I think we should turn the NumPy class to be static.
It will look like below:
[code]
@dotChris90 , @fdncred What do you guys think?

[2018-12-13 12:53] Oceania2018 commented on #155
Hooray, be more like `numpy`.

[2018-12-13 12:53] #155 closed

[2018-12-13 13:19] fdncred commented on #155
works for me

[2018-12-13 15:16] dotChris90 commented on #154
@fdncred thanks. :D great what cool things are possible with C# ;)

[2018-12-13 17:34] PppBr commented on #115
I will take this issue

[2018-12-13 18:04] Oceania2018 commented on #116
@dotChris90 Please add MKL as a new provider when you have a chance.

[2018-12-13 19:04] fdncred commented on #116
@dotChris90, I'll research this a bit because other people, namely microsoft, point to dlls such as this https://docs.microsoft.com/en-us/cognitive-toolkit/setup-mkl-on-windows.

[2018-12-13 19:12] fdncred commented on #116
Check this out. Intel allows one to redistribute MKL. It's in the license.
https://software.intel.com/en-us/mkl/license-faq

[2018-12-13 19:20] fdncred commented on #116
Here's a few Github projects that wrap MKL in C#. May be easier just to use something that already exists.
https://github.com/DNRY/CSIntelPerfLibs
https://github.com/Rafka86/SharpMKL
https://github.com/Proxem/BlasNet

[2018-12-13 19:40] dotChris90 commented on #116
@fdncred much thanks for investigation. This makes the situation much better. 👍

[2018-12-14 07:36] dotChris90 commented on #116
But do not worry - the Provider strategy I still want to follow. ;)

[2018-12-14 07:38] dotChris90 commented on #144
This need to implement the other return types like error etc

[2018-12-21 13:44] Oceania2018 commented on #65
NumSharp v0.7 release planning March 1st, 2019

#### Key changes:
* Docs enhanced.

[2018-12-23 17:10] dotChris90 commented on #154
I close this because .NET arrays now can be implicit cast from and to NDArray

[2018-12-23 17:10] #154 closed

[2018-12-23 17:11] dotChris90 commented on #145
close because lapack is now part of it - just need to be better --> performance etc. is traced in #116.

[2018-12-23 17:11] #145 closed

[2018-12-23 17:12] dotChris90 commented on #119
forgot to mention it in pull request from about 22.12.2018.

- NDArray implements now ICloneable
- Copy uses Clone but auto cast it to NDArray and not object like clone

[2018-12-23 17:12] #119 closed

[2018-12-23 17:19] dotChris90 opened #165 "Give an example with Shallow water equations"
Solving differential equations is one important area in numpy so it should be also in NumSharp.

The shallow water equations are a nice but still mature example in "fluid" numerics.
Can read some background about it on https://en.wikipedia.org/wiki/Shallow_water_equations.

Maybe it would be great to have such an example on our doc - just to demonstrate how to use NumSharp in practise.

There is a

[2018-12-24 20:17] Oceania2018 opened #167 "np.random doesn't work"
np.random doesn't work after upgrading to v0.6.
![image](https://user-images.githubusercontent.com/1705364/50406203-a1054500-0786-11e9-82b5-767a7ff32e07.png)

[2018-12-25 12:48] Oceania2018 opened #170 "Index selection in ndarray doesn't work"
After upgrading to v0.6, can't compile:
![image](https://user-images.githubusercontent.com/1705364/50422575-161d5c80-0811-11e9-9b4e-cb1ececd1253.png)
It should be working like this:
![image](https://user-images.githubusercontent.com/1705364/50422526-d8203880-0810-11e9-9383-4681e5c4a407.png)

[2018-12-25 19:12] dotChris90 commented on #170
ok in process with this unit test and for 1D arrays

[code]

[2018-12-27 20:16] Oceania2018 opened #174 "Can't create value by single string"
In Tensorflow.NET, I can't do:
`var tensor = tf.constant("Elephant");`
[code]
It should work, but exception throw:
![image](https://user-images.githubusercontent.com/1705364/50493203-a3afa680-09e1-11e9-990f-0ee95b8a1557.png)

[2018-12-27 20:42] dotChris90 commented on #174
@Oceania2018 ok checked it. before it was just designed for "[1,2,3;4,5,6]" syntax - so parsing string matrix. But will change - if it can not find[] will add it as scalar string.

[2018-12-27 20:44] dotChris90 commented on #174
@Oceania2018 one question - or should we totally remove this implicit string cast?

otherwise we get problems maybe to decide if matrix parse or not. Should we always cast every automaticly to string scalar?

[2018-12-27 21:15] dotChris90 commented on #174
@Oceania2018 if you can work with this - close issue ;) or if still problem - let me know

[2018-12-28 00:19] Oceania2018 commented on #174
I can try to use RegEx to identity string pattern.

[2018-12-28 00:46] #174 closed

[2018-12-28 16:48] dotChris90 commented on #167
@Oceania2018 when have time you can check again - if your TF.NET code still work after merge #176 we can close this issue here.

[2018-12-28 16:56] #167 closed

[2018-12-28 16:57] #170 closed

[2018-12-28 22:59] Oceania2018 opened #177 "Shape changed when Storage.Allocate is called"
@dotChris90 Please run `np.random.normal.Test`, the output ndarray should keep the shape.
This issue is also mention on https://github.com/Proxem/NumNet/issues/2. I can't fix it due to the layout logic.

![image](https://user-images.githubusercontent.com/1705364/50530223-12176600-0ac1-11e9-8484-58a2310cfb4c.png)

[2018-12-29 08:59] dotChris90 commented on #177
@Oceania2018 yes the allocate shall never be called after storage is already created. >.< sorry was not too obviously.

The constructor with int as inputs already create a correct shape - so all you need to do is **Storage.SetData**. I already pushed fix to my repo and will merge here.

Also extended the Unit Test - so we can be sure the shape is kept inside. Now shape is tested.

[code]

[2018-12-29 09:03] dotChris90 commented on #177
@Oceania2018 please check again - if you satisfied close ticket if not - let me know. ;)

[2018-12-29 10:12] dotChris90 opened #179 "Need to better specify CI tests maybe with appveyor.yml file"
- we need to differ little bit more into "Windows" build and "Linux" build (so multiple CI )
- I am very sure the windows based CI build will be green but now it is red because of Linux Server (check on SciSharp/NumSharp --> CI is not red :(
- This is how ML.NET handle this platform dependencies https://github.com/dotnet/machinelearning
- matrix based check (Windows, Linux, Apple - x64 - debug + r

[2018-12-29 10:49] dotChris90 commented on #179
by the way. is app veyor Linux image x86 or x64?

[2018-12-29 13:17] dotChris90 commented on #179
already discovered the error .....
seems it is my bad. I was thinking before that taking the 2 shared object Libs lapack.so and blas.so is enough for successful build.

I experimented a little bit more and discovered that appveyor CI works if (and really just if the following command is added as installation command "sudo apt-get -y install libblas-dev liblapack-dev" .....
Damn the shared object l

[2018-12-29 13:19] Oceania2018 commented on #179
We don’t setup any yml. You can add a yml file in the root directory . The AppVeor will discover automatically.

[2018-12-29 13:44] dotChris90 commented on #179
ok did all. We are again green for windows and linux. This is now extrem cool because we finally can say "hey we check Linux and windows on every push". ;) I close this issue.

[2018-12-29 13:44] #179 closed

[2018-12-29 14:12] Oceania2018 commented on #9
![image](https://user-images.githubusercontent.com/1705364/50539169-55b1b480-0b41-11e9-85f2-0b539db3045f.png)

![image](https://user-images.githubusercontent.com/1705364/50539172-66fac100-0b41-11e9-894f-ec5c196e69e4.png)

[2018-12-29 20:14] Oceania2018 opened #182 "Implicit from anonymous object"
We should create NDArray like below:

![image](https://user-images.githubusercontent.com/1705364/50541846-e30dfc80-0b73-11e9-9dc5-7ddd3ba83b81.png)

![image](https://user-images.githubusercontent.com/1705364/50541841-de494880-0b73-11e9-9f94-799265098735.png)

[2018-12-29 20:47] dotChris90 commented on #182
@Oceania2018 are you sure this is possible?

NDArray arr = new int[]{1,2,3,4} ; // this is fine because compiler knows type
NDArray arr2 = {1,2,3} ; // not sure because this is a specific array expression >.<

[2019-01-05 08:36] dotChris90 commented on #116
ok some news from my side.

MKL is installable on Linux via https://gist.github.com/pachamaltese/afc4faef2f191b533556f261a46b3aa8
and on Windows via PIP with command"pip install mkl".

With this Libs can check what functions **are really exported**.

@Oceania2018 @fdncred  just one question to you 2. What you think about "put providers in separate packages?" Like "NumSharp.MKLProvider" and so on.

[2019-01-05 11:21] Oceania2018 commented on #116
Seems like if we separate NumSharp.MKLProvider, we need to separate an Interface project too, then we will have 3 separate NuGet packages, right?

[2019-01-05 13:36] fdncred commented on #116
I like the idea of separate packages because it gives users a choice.

[2019-01-05 13:39] #177 closed

[2019-01-05 13:40] Oceania2018 commented on #182
Seems it is impossible to implement. Close.

[2019-01-05 13:40] #182 closed

[2019-01-05 14:40] dotChris90 commented on #116
@Oceania2018 I think so. at least easiest solution. also agree with @fdncred. people can free choose. maybe we even can pack mkl in nuget package like python do. since pip offers nuget also could do. and we could offer nuget package with tensorflow C Api.

 I think it could be best solution because people can use mkl if they like or not. or take standard lapack.

by the way on Friday I checked the

[2019-01-05 14:53] Oceania2018 commented on #116
@dotChris90 you can try to add a new project.

[2019-01-05 20:34] dotChris90 commented on #116
Ok before do the stuff just want to clear with you 2 the plan.

Our NumSharp repo would consist of

- NumSharp.Core => our main project with no provider just abstraction (like an interface ILAPACKProvider)
- NumSharp.NetLibLAPACK => it provides the default LAPACK implementation from https://github.com/Reference-LAPACK/lapack (we could fork it and build C# wrapper classes - already was able to set

[2019-01-05 20:45] dotChris90 commented on #116
But also the bad news .... Since we take a provider strategy we must take an OOP strategy pattern and ... they do not work with static methods. This just means our providers must be implemented as non-static classes with constructor - or other said - they must implement an interface.

This is no bad thing just brings more code. we need our static methods to adapt the native libraries and we need t

[2019-01-05 22:08] Oceania2018 commented on #116
@dotChris90 Where is the interface project? We should have another Interface project dll.

[2019-01-06 07:42] Esther2013 opened #186 "Jagged arrays are not allowed here!"
When I use Implicit converting for `new int[][] { new int[] { 3, 3 } }`, exception throws.

![image](https://user-images.githubusercontent.com/33488376/50733493-28be5c80-1154-11e9-9b48-1c22c9cd8c57.png)

![image](https://user-images.githubusercontent.com/33488376/50733494-31169780-1154-11e9-840b-bfb06714c333.png)

[2019-01-06 18:10] #9 closed

[2019-01-06 21:24] Esther2013 opened #187 "ToString() format is not correct"
`np.array(new int[][] { new int[] { 12 } });` the string format should be `[[ 12 ]]`

![image](https://user-images.githubusercontent.com/33488376/50741716-b63a9480-11c6-11e9-9cf9-3e3375345cbe.png)

[2019-01-06 21:33] dotChris90 commented on #187
damn totally forgot to adapt it.

I will check it tomorrow. maybe move this method to castings.... since it is converting

[2019-01-07 19:37] dotChris90 commented on #187
@Esther2013 @Oceania2018 can somebody of you check the view in Visual Studio? In Code it looks more or less ok - do not use VS. ;)

It was my bad seems xD I dont know when but the for loop was terminated at 2nd element because it did not check the size .... it checked the ndim. NDIM for matrix is always 2 .... -.-

[2019-01-07 19:45] dotChris90 commented on #186
If you want - we can add this feature.

I will try to create one independent of ndim.

[2019-01-07 19:46] dotChris90 commented on #116
hm I am not sure at moment.

We could make a separate project and package or keep it in NumSharp.Core.
At moment think about pros and cons.

[2019-01-07 19:47] Esther2013 commented on #187
@dotChris90 It works, thank you for your quick fix.
![image](https://user-images.githubusercontent.com/33488376/50789766-bf893700-1282-11e9-8353-e19ae08a8560.png)

[2019-01-07 19:47] #187 closed

[2019-01-07 19:50] Esther2013 commented on #186
@dotChris90 , Yes please add it.

[2019-01-07 19:52] Oceania2018 commented on #116
OK, do more research.

[2019-01-07 19:59] buybackoff commented on #116
Have you looked at Math.Net MKL provider? Or at Math.Net integration at all? As far as I remember Math.Net has its own native wrapper over  which they interop, but it should be trivial to amend if all parties agree. I'm following this project/stack for a while and happy if Python stack is repeated 1-to-1 in  .NET, but having several options that basically do the same stuff seems sad. Especially gi

[2019-01-07 20:57] Oceania2018 commented on #116
@dotChris90 Do you know how much size of the MKL dll? As my experience of TensorFlow.NET, tensorflow.dll is about 65M, luckly the NuGet compress it to about 16M. So I pack the dll directly into NuGet, It's acceptable.

[2019-01-07 22:01] dotChris90 commented on #186
check latest state - after #189 it should be possible. unit tests at moment just check for 2D.

[2019-01-07 22:14] Esther2013 commented on #186
Works, appreciate.

[2019-01-07 22:14] #186 closed

[2019-01-08 02:46] pkingwsd commented on #116
as below from MathNet

Licensing Restrictions
Be aware that unlike the core of Math.NET Numerics including the native wrapper, which are both open source under the terms of the MIT/X11 license, the Intel MKL binaries themselves are closed source and non-free.

The Math.NET Numerics project does own an Intel MKL license (for Windows, no longer for Linux) and thus does have the right to distribute i

[2019-01-08 02:50] Oceania2018 commented on #116
@pkingwsd It means we can't pack MKL into NumSharp's package? @dotChris90 so we just have to place the download link for user?

[2019-01-08 02:57] pkingwsd commented on #116
@Oceania2018  i thank so that ,just make NumSharp's MKL for windows package.

[2019-01-08 07:00] dotChris90 commented on #116
@buybackoff thanks for mention it. Actually I was thinking about this **BUT** (there is always a but ... ) I am really unsure about Intel Licensing etc. Not sure if we can use their Math.NET Libs .... thats the only reason.
To be honest - we plan that at the end is just one meta-data package called **NumSharp** and this contains references to **NumSharp.Core** and **NetLibLAPACK** package.

For Ne

[2019-01-08 07:04] dotChris90 commented on #116
@Oceania2018 @pkingwsd damn ... this license stuff get more complex .... but yes he is right. **If you do not mind - I will write an email to intel sales team to clear things. **

I am little confused at moment since the Linux MKL is a simple debian based package and can be downloaded any time. So I though there is no restriction for windows also. But I am not sure so far. Because I can not find o

[2019-01-08 15:00] dotChris90 commented on #116
@Oceania2018 @pkingwsd what about this section https://software.intel.com/en-us/mkl/license-faq ?
In the FAQ stand Yes, redistribution is allowed per the terms of the ISSL. and also no payment etc.

[2019-01-08 15:18] Oceania2018 commented on #116
Great, so we don't need to worry about the license problem per the official statement.

[2019-01-08 15:41] dotChris90 commented on #116
still wrote to them. I want a statement of them.... BTW fdncred also mentioned it before lol the faq but as I said I wait for their response.

[2019-01-08 16:04] fdncred commented on #116
yeah! someone reads my comments. LOL! ;)

[2019-01-08 16:09] dotChris90 commented on #116
@fdncred definitely. I am just highly confused about the mkl libraries out there.

is anaconda mkl the same like normal mkl and why there is no package for windows... the apt get installer also just download the file and put at specific locations...

drives me crazy....

[2019-01-08 16:47] fdncred commented on #116
@dotChris90 it appears to me that anaconda's MKL is just the regular MKL. It also looks to me like there is a windows package. See the links below.
https://anaconda.org/anaconda/mkl
https://docs.anaconda.com/accelerate/mkl-overview/
https://repo.anaconda.com/pkgs/main/win-64/
For my two cents, I think Proxem's BlasNet is the best wrapper for MKL. It looks pretty mature.
https://github.com/Proxem/B

[2019-01-08 21:13] dotChris90 commented on #116
@fdncred  Thanks for the update. ;)

From the URL I agree with you. 👍
I already downloaded the package via pip and checked it but the package brings multiple MKL dlls - so I was not sure if it is or not. In anaconda location you will find binaries with mkl_corem mkl_xyz, …. about 6 or 7 files. But I though the mkl thing is one single DLL …. but anaconda shows multiple .... this is extrem strange .

[2019-01-08 22:08] fdncred commented on #116
Probably not impossible for CI. Have you looked at using chocolatey to install MKL? It looks like one of microsoft's packages includes it https://chocolatey.org/packages/microsoft-r-open. It may not be perfect but it may work.

I've had a lot of experience with ClangSharp and NClang as well as other generators to take a C/C++ library to C# and I'm quite sure that they are not easy. I've found with

[2019-01-09 05:16] dotChris90 commented on #116
damn choco package management didn't think on it yes. can try. thanks.

If u say it is hard maybe I was too easy thinking. the only complex thing we could have with code generation is.... lapack 100 % uses pointer. so generator can not know what's array and what pass by reference.

hm...yes could be trickier. but as long as we just using some few functions from lapack.... writing own is easier. bu

[2019-01-09 13:56] fdncred commented on #116
Yes, IntPtr from C/C++ can be tricky and requires hand massaging for every call, from my experience. Marshalling arrays isn't too complex if you know the count of the array and the size of the array. Ref, In, Out params can be tricky, especially if you have an [In, Out] parameter in C/C++, where you pass in out value in a parameter and you return a different value out of the same parameter. If you

[2019-01-09 14:11] Oceania2018 commented on #116
@fdncred can you help with
https://github.com/SciSharp/TensorFlow.NET/issues/86?

[2019-01-09 14:17] fdncred commented on #116
@Oceania2018, yes, i'll look at it. I'm not promising i can fix it but I'll try. ;)

[2019-01-09 14:22] Oceania2018 commented on #116
Anyway I’d appreciate. Try to make it work. Enjoy tensorflow.net.

[2019-01-09 21:45] Oceania2018 opened #190 "Compressed Sparse Format"
We should implement the compressed ndarray, it is used widely in scikit-learn. The csr_matrix is included in SciPy not NumPy, but I think we should move it into NumSharp. @dotChris90 What do you think of it?

[Compressed Sparse Column Format (CSC)](https://www.scipy-lectures.org/advanced/scipy_sparse/csc_matrix.html)
[Compressed Sparse Row Format (CSR)](https://www.scipy-lectures.org/advanced/scip

[2019-01-09 21:47] Deep-Blue-2013 commented on #190
CSC format saved memory a lot. Looking forward to see this feature.

[2019-01-10 06:06] dotChris90 commented on #116
for traceability. Intel just offer you help if u have customer service.. yeah every company need money I know....

But post in forum and got answer direct from Intel.

https://software.intel.com/en-us/comment/1932183#comment-1932183

as we can read there. don't worry take the mkl lib.

[2019-01-10 21:02] letmaik commented on #117
Is it planned to add support for the full numpy api here with the `axes` argument and more than 2D?

[2019-01-10 22:16] Oceania2018 commented on #117
@letmaik Yes, We will do. Welcome if you could help.

[2019-01-10 22:50] Deep-Blue-2013 commented on #117
It would be awesome if the axis is added.

[2019-01-14 15:18] dotChris90 commented on #117
if it is so important we will. :)

[2019-01-29 03:21] Oceania2018 opened #191 "Index access returns incorrect data type"
![image](https://user-images.githubusercontent.com/1705364/51881885-7dfc2100-2342-11e9-94c2-bb90e62ccc16.png)

[2019-01-29 21:41] dotChris90 commented on #191
sorry didn't get what you mean. if it's really a bug could we think about a unit test instead of python code?

[2019-01-29 22:36] Oceania2018 commented on #191
@dotChris90 Please check the unit test `IndexingTest.NDArrayAccess`

[2019-01-30 04:56] dotChris90 commented on #191
thanks. will do

[2019-02-11 23:05] Oceania2018 opened #193 "numpy.ndarray.tostring"
Construct Python bytes containing the raw data bytes in the array.
https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.tostring.html

[2019-02-12 00:16] Oceania2018 commented on #193
We can add ToByteArray method.

[2019-02-12 02:35] Oceania2018 opened #194 "numpy.prod"
Return the product of array elements over a given axis.
https://docs.scipy.org/doc/numpy/reference/generated/numpy.prod.html

[2019-02-12 06:23] emrahsungu commented on #191
As far as I could see, the current implementation of NDArray indexers only return a single value where they should return NDARRAY of `ndim - indexers.Length`?

[2019-02-12 11:52] Oceania2018 commented on #191
@emrahsungu Yes, your are right. return an new `NDArray` with ndims.

[2019-02-13 05:14] emrahsungu commented on #191
I just want to make sure before I take on the job, I also see that the implementation of Indexers are also not completed at all and will require an overhaul, right? Especially, the indexer which takes NDArray

[2019-02-13 05:57] Oceania2018 commented on #191
@emrahsungu if you can make the unit test `IndexingTest.NDArrayAccess` pass, It will be OK.
[code]

[2019-02-13 06:03] emrahsungu commented on #191
@Ocenia2018, thanks for the swift response. I have seen the unit test but what I am concerned is that it looks like Indexer which takes NDArray as parameter is not fully implemented and requires a bit of an overhaul.  Are we on the same page?😀

[2019-02-13 11:48] Oceania2018 commented on #191
Yes we need an overhaul. I think it will return a object, When ndim = 0 then return scalar value, when ndim == input.ndim then rerun scalar value, when ndim < input.ndim then return ndarray. And add an implicit to convert between ndarray and ndarray when the ndim is different. I haven’t find the best solution.

[2019-02-13 11:51] emrahsungu commented on #191
@Oceania2018 Yeah I had something similar in my mind. I will try the challenge. Hopefully, I can come up with a nice solution.

[2019-02-13 11:51] Oceania2018 commented on #191
Considering the performance and long term goal which is becoming productivity, I want to refactor NumSharp v2.x based on ArrayFire.

[2019-02-13 11:54] Oceania2018 commented on #191
We will change our storage to unmanaged memory. We can discuss on another thread if have interested on the 2.x plan.

[2019-02-13 11:58] Oceania2018 commented on #191
You can still working on current branch if you want, because the high level will not going to be changed.

[2019-02-13 12:10] emrahsungu commented on #191
Sure I would love to hear more!

[2019-02-13 12:14] Oceania2018 commented on #193
Fixed.

[2019-02-13 12:14] #193 closed

[2019-02-13 12:35] Oceania2018 opened #195 "Refactor NumSharp in Branch 2.x"
In order to make NumSharp more practical, we plan to open a new branch and refactor the NumSharp kernel to build based on ArrayFire. The purpose of this is to make NumSharp perform better and the data will be stored entirely in unmanaged memory. Easier to implement the `view` of `ndarray` function Take advantage of ArrayFire's sophisticated underlying computing framework to make NumSharp easy to u

[2019-02-13 12:36] Oceania2018 commented on #191
@emrahsungu raised new issue of #195

[2019-02-13 12:42] emrahsungu commented on #195
I would like to hear more about this. Is the memory going to be left to `arrayfire`? There will be marshalling back and forth?

[2019-02-13 12:52] Oceania2018 commented on #195
As long as you avoid repeatedly accessing elements in managed memory, there is no problem, and transfer computation to low level c++. The performance improvement is worthwhile. Especially for the intensive calculation of machine learning model training.

[2019-02-15 22:47] Esther2013 opened #196 "numpy.squeeze"
Remove single-dimensional entries from the shape of an array.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.squeeze.html

[2019-02-15 23:00] Esther2013 opened #197 "numpy.argsort"
Returns the indices that would sort an array.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.argsort.html

[2019-02-19 22:37] Oceania2018 commented on #197
@emrahsungu Could you make the ndarray.argsort more generic that supports axis? I just made the simple version.

[2019-02-20 02:19] emrahsungu commented on #197
@Oceania2018, I will have a look right away. Generic, as in not just for ndim==1 right?
https://github.com/SciSharp/NumSharp/blob/3dd1ff017ac7f0fb48ea0c4bcb2913e38e4c0994/src/NumSharp.Core/Extensions/ndarray.argsort.cs

[2019-02-20 02:42] Oceania2018 commented on #197
@emrahsungu Yes, you are definitely right. Appreciate you take that job.

[2019-02-20 19:35] Esther2013 opened #198 "ndarray.ravel should clone values."
The `ravel` should clone the original values, not return itself.

[2019-02-20 19:38] #198 closed

[2019-02-20 19:38] #196 closed

[2019-02-22 13:43] Oceania2018 commented on #197
Any progress?

[2019-02-22 13:47] emrahsungu commented on #197
Hi there, I am simply sorry for no progress. I am working 9am - 11pm currently because we are on a deadline for our next game. I only have weekends to look at the code 😭. Good news you get to see new Pokemons 🤣

[2019-02-24 14:00] Oceania2018 commented on #195
ArrayFire only support up to 4 dimensions.

[2019-02-24 14:37] dotChris90 commented on #195
@Oceania2018 yes the 4 dimension limitation is also something I read in their documentation.
But I think we have to find a way to overcome this limitation since I think some Numpy people will do it and when computing take parts of the tensor, e.g. have a 3x3x2 tensor and "cut" out 2 matrix 3x3 and 3x3.

But you are right - it is an extreme nice to use library.
There are some points we could check

[2019-02-24 14:44] Oceania2018 commented on #195
Good point. I am a little hesitant, we might just refactor our storage first, in order to implement `numpy view`.

[2019-02-24 18:57] dotChris90 commented on #195
thats fine! :) first clear all things here before we start. But Haiping - with Arrayfire you already found an extreme good to use and good performance library. I totally agree - we must (somehow) integrate them.

Until now I was very surprised how easy Span can be used with arrayfire.

Example :

if define

[code]

you can use :

[code]

But this is a copy .... the Span in C# is not the same memor

[2019-02-24 19:59] emrahsungu commented on #197
@Oceania2018, I just created a pull request for the Issue. Sorry for the comments, I will fix them when I have more time at hand

[2019-02-24 21:01] Oceania2018 commented on #195
@dotChris90 It's not perfect. Let's don't use managed memory `Span` or `Memory` operations. We'll all use unmanaged memory if we use `ArrayFire`. Because we might pass data between process. Have you took about the `Apache Arrow` project? They share data between different projects.

[2019-02-24 21:12] Oceania2018 opened #200 "Missing last data when ToString()"
It should be showing as [1, 2, 0].

![image](https://user-images.githubusercontent.com/1705364/53305373-7ac35a80-3846-11e9-9333-80383bdb9ea7.png)

[2019-02-24 21:21] Oceania2018 commented on #197
@emrahsungu , awesome, we appreciate. Your commits are making NumSharp better. @dotChris90 , we should welcome Sungu again.

We have one coding principle:
Try to avoid using LINQ especially in the intensive loop function. (sometimes LINQ is not good as we thought).
`Enumerable.Range(0, iterateUntil).Select(_ => previousStep.Concat((_).Yield()));`
is not good as the simple `for (int i = 0; i < iter

[2019-02-25 00:41] emrahsungu commented on #197
Thanks for the comments, I really appreciate it. Like you mentioned LINQ comes with an overhead about 1.40 times of the simple for loop. I usually choose it for the expressiveness. I have not tested the simple Enumerable.Range case but it definitely should be slower than the similar for loop. I will fix it as soon as I have some time.

Can you please tell me more about the Yield() bad performance?

[2019-02-25 01:34] Oceania2018 commented on #197
I've not test `yield` yet, just know from this [post](https://stackoverflow.com/questions/3969963/when-not-to-use-yield-return).

[2019-02-25 05:09] dotChris90 commented on #200
will check after work. can't be too difficult.

[2019-02-25 05:41] emrahsungu commented on #200
Not just this one but I am worries about the checking ndim for 0 2 or other through out the source code.

[2019-03-01 05:42] pkingwsd opened #201 "compare numsharp's matrix and MathNet.Numerics.LinearAlgebra.Matrix"
ENV: win10 , numsharp0.73 , MathNet4.7+mkl
the code as bellow
            var aArray = new float[1024 ];
            var bArray = new float[1024 * 110000];
            var a = np.asarray<float>(aArray).reshape(1, 1024);
            var b = np.asarray<float>(bArray).reshape(1024, 110000);
            var c = np.dot(a,b); // 327ms ;

            var Vectora = MathNet.Numerics.LinearAlgebra.Vector<fl

[2019-03-01 05:48] Oceania2018 commented on #201
@emrahsungu @dotChris90 Do you guys have any idea about this performance issue? Let's work together to improve it.

[2019-03-01 06:11] emrahsungu commented on #201
Oh ten times?!😭

[2019-03-01 09:44] emrahsungu commented on #201
I don't know how much it affects but for starters tamath.net looks like it is using native providers

[2019-03-02 15:43] emrahsungu commented on #201
@Oceania2018 @dotChris90 Oh I see why NumSharp performs bad in dot product. Dot product by definition is highly parallelize-able(← I do not know if this is an actual word) Math.Net uses Parallel Library for dot product where as  NumSharp is not.

[2019-03-02 15:55] Oceania2018 commented on #201
@emrahsungu Could you paste sample code of Math.NET?

[2019-03-02 15:59] emrahsungu commented on #201
In file `ManagedLinearAlgebraProvider.Single.cs`

` CommonParallel.For(0, rowsX, 1, (u, v) =>
                {
                    var row = new float[columnsX];
                    for (int i = u; i < v; i++)
                    {
                        GetRow(Transpose.DontTranspose, i, rowsX, columnsX, x, row);
                        for (int j = 0; j < columnsY; j++)

[2019-03-02 16:00] emrahsungu commented on #201
In file `ManagedLinearAlgebraProvider.Single.cs`

[code]

[2019-03-02 16:10] Oceania2018 commented on #201
Is the `CommonParallel` equivalent `Parallel.ForEach`?

[2019-03-02 16:16] emrahsungu commented on #201
@Oceania2018 In the internals it calls `Parallel.ForEach`

[2019-03-02 16:16] Oceania2018 commented on #201
@emrahsungu They use multiple core in `Paralle.ForEach`, Could you help optimize NumSharp `dot` function?

![image](https://user-images.githubusercontent.com/1705364/53684531-23087180-3cd4-11e9-8ec9-349af110a716.png)

[2019-03-02 16:17] emrahsungu commented on #201
@Oceania2018 Should be child's play to change implementation into a parallel one

[2019-03-02 16:21] Oceania2018 commented on #201
@emrahsungu Sorry, What do you mean? Do you think we are going to refactor in ArrayFire?

[2019-03-02 16:23] emrahsungu commented on #201
@Oceania2018 , Absolutely I will try to optimize NumSharp.dot operation using Parallel approach

[2019-03-02 16:23] emrahsungu commented on #201
What I meant is that I will try to optimize `NumSharp.dot` operation using `Parallel Library`

[2019-03-02 16:25] Oceania2018 commented on #201
Sounds great.

[2019-03-03 04:25] Walkeras opened #202 "implement np.pad"
Add a buffer or padding around a numpy array:
https://docs.scipy.org/doc/numpy/reference/generated/numpy.pad.html

[2019-03-03 12:00] #197 closed

[2019-03-03 15:13] Oceania2018 commented on #202
[code]

[2019-03-04 23:29] PppBr opened #203 "Bug: There a system exception when calling a 3-dim NDArray at index 0"
NDArray points_by_class = np.zeros(new int[] { 3,5,2 });

points_by_class[0] throws an exception of type "System Exception"

[2019-03-08 02:58] #203 closed

[2019-03-08 02:58] #191 closed

[2019-03-08 02:58] #144 closed

[2019-03-10 01:05] Esther2013 opened #209 "Add numpy.frombuffer"
Interpret a buffer as a 1-dimensional array.
`numpy.frombuffer(buffer, dtype=float, count=-1, offset=0)`
https://docs.scipy.org/doc/numpy/reference/generated/numpy.frombuffer.html

[2019-03-10 04:32] Esther2013 opened #210 "Add numpy.all"
Test whether all array elements along a given axis evaluate to True.
`np.all([[True,False],[True,True]])`
https://docs.scipy.org/doc/numpy/reference/generated/numpy.all.html

[2019-03-12 02:27] xinqipony opened #211 "implement scipy interpolate?"
this is an amazing project and any plan to implement scipy interpolate?

[2019-03-12 02:50] Oceania2018 commented on #211
Will do `Interpolate a 1-D function.` and `2-D`

[2019-03-12 14:28] Oceania2018 commented on #195
@dotChris90 @emrahsungu I decided to adopt a multi-kernel architecture mechanism that supports both default Tensor or ArrayFire or other open source Tensor computing libraries.

[2019-03-12 19:45] Oceania2018 opened #213 "Implement np.save"
Save an array to a binary file in NumPy .npy format.
https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.save.html

[2019-03-12 19:46] Oceania2018 opened #214 "Implement np.load"
Load arrays or pickled objects from .npy, .npz or pickled files.
https://docs.scipy.org/doc/numpy/reference/generated/numpy.load.html

[2019-03-15 03:13] Oceania2018 opened #217 "numpy.repeat"
Repeat elements of an array.
https://docs.scipy.org/doc/numpy/reference/generated/numpy.repeat.html

[2019-03-21 03:29] pkingwsd opened #220 "numpy.flip"
numpy.flip

[2019-03-21 03:30] pkingwsd opened #221 "numpy.rot90"
numpy.rot90

[2019-03-21 03:31] Oceania2018 commented on #220
https://docs.scipy.org/doc/numpy/reference/generated/numpy.flip.html
Please also past the python link, thanks.

[2019-03-21 03:31] Oceania2018 commented on #221
https://docs.scipy.org/doc/numpy/reference/generated/numpy.rot90.html

[2019-03-21 03:44] pkingwsd opened #222 "NDArray.transpose()"
like this:

        img4 = np.array(img3)[:,:,::-1]
        img5 = img3.transpose(0,3,1,2)

[2019-03-26 00:35] pkingwsd opened #223 "NDArray.Roll bug"
var at =  np.arange(10).reshape(2,5);
at =at.roll(1,1);-----------{array([[ 9,  5,  6,  7,  8],
       [ 5,  6,  7,  8,  9]])}

[2019-03-26 04:34] Oceania2018 commented on #223
Fixed, plan to release v0.8.3 patch after one week.

[2019-03-26 04:34] #217 closed

[2019-03-26 04:35] Oceania2018 commented on #213
@dania-vera Please update issue status, seems like you already finished it.

[2019-03-26 04:35] Oceania2018 commented on #214
@dania-vera Please update issue status, seems like you already finished it.

[2019-03-26 04:37] Oceania2018 commented on #211
@xinqipony Is https://docs.scipy.org/doc/numpy/reference/generated/numpy.interp.html you want?

[2019-03-26 04:37] #165 closed

[2019-03-26 05:09] xinqipony commented on #211
yes,  this is what I used:
interpolate.interp1d(x, y, kind='cubic', axis=0),

in the meantime, I use MathNet now, but its implementation is not so good and not easy to use,

look forward to your new updates!

[2019-03-27 14:46] DmitryGeyzersky opened #224 "Float datatype support in np.load"
Is there any planned support for f4 (float) datatype in np.load method?
Something like this would be extremely useful:

`np.Load<float[]>(@"test.npy");`

[2019-03-28 02:54] Oceania2018 commented on #224
@dania-vera Is it possible for you?

[2019-03-28 11:47] dania-vera commented on #224
@Oceania2018  I just see your comments right now. After a sick week, I'm coming back tomorrow to the office. No, I don't have the option to close both issues.

[2019-03-28 12:32] Oceania2018 commented on #224
I mean the np.Load<float[]>(@"test.npy");

[2019-03-29 07:04] Hmean opened #227 "wrong result from np.dot"
I am a beginner, I want to use numpy in C#, so...
But I find the result from numsharp.dot is different with numpy.
There are my  C# code:
`using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using NumSharp.Core;

namespace ConsoleApp1
{
    class Program
    {
        static void Main(string[] args)
        {
            var a = np.array(new int[,] { { 1, 2 }, { 1

[2019-03-29 08:05] Oceania2018 commented on #227
Will fix it

[2019-03-29 11:39] Oceania2018 commented on #227
@Hmean Try to upgrade to v0.8.3, thanks.

[2019-03-29 12:14] Hmean commented on #227
That's all ok

[2019-03-29 12:14] #227 closed

[2019-03-30 21:46] fr0 opened #229 "Error when installing via NuGet"
I'm using VS2015 on Windows 10.

When I try to install `NumSharp` using nuget in Visual Studio, I get the following error:

[code]

I tried changing to .NET 4.6.1 but I got a similar error.

[2019-03-30 23:05] Oceania2018 commented on #229
I use VS 2017 Community and Windows 10. I can not reproduce it due to lack of environment like yours.

[2019-03-30 23:15] fr0 commented on #229
I will try installing VS2017 Community.

[2019-03-30 23:28] fr0 commented on #229
It successfully installed via NuGet on VS2017, so I was able to get past it. Thanks.

[2019-03-30 23:46] #229 closed

[2019-04-01 01:01] pkingwsd opened #230 "np.dot bug"

[2019-04-01 02:49] #230 closed

[2019-04-01 12:10] dania-vera commented on #214
@Oceania2018 This is finished already. You can close this issue

[2019-04-01 12:10] dania-vera commented on #213
@Oceania2018 This issue is already finished. You can close it.

[2019-04-01 12:11] dania-vera commented on #213
Both format are supported .npy and .npz.

[2019-04-01 15:30] #214 closed

[2019-04-01 15:30] #213 closed

[2019-04-01 15:31] #209 closed

[2019-04-01 15:31] #223 closed

[2019-04-01 15:32] Oceania2018 commented on #118
Have to implement a new storage first.

[2019-04-04 05:40] LinusKimi opened #235 "Get the vector in the dimension"
ONE :
1. In Python ：
    2 axis:
    x = np.arange(12).reshape(3, 4)
    print(x[1])    // [4 5 6 7]
    3 axis:
    nd = np.arange(12).reshape(2, 3, 2)
    print(nd[0])    // [ [0 1] [2 3] [4 5] ]
    print(nd[1])    // [ [ 6  7] [ 8  9] [10 11] ]

2. In NumSharp ：
    // create a tensor
    var nd = np.arange(12).reshape(2, 3, 2);

    var data_0 = nd[new Shape(0)];    // [ [ 0 1] [ 2 3] [ 4 5]

[2019-04-04 10:35] henon opened #236 "numpy.allclose"
Hey, I was thinking of doing a C# port of numpy. When I discovered you had already done so and it is quite far progressed I was thrilled.

I am in need of a lot of functions you haven't written yet, so I am going to contribute. I'd like to start with numpy.allclose since it seems to be quite straight forward.

[2019-04-04 10:48] henon commented on #236
Btw, any pointers where to add it and what to pay attention to would be appreciated ;)

[2019-04-04 11:36] Oceania2018 commented on #236
Welcome to bring more functions. @henon

[2019-04-04 14:20] henon commented on #236
Got it.

Btw: how to run the tests? When I try to run them in Visual Studio 17 I get this:

`
[04.04.2019 16:17:06 Informational] ------ Discover test started ------
[04.04.2019 16:17:08 Informational] ========== Discover test finished: 0 found (0:00:01,8469274) ==========
[04.04.2019 16:17:08 Informational] No tests found to run.
[04.04.2019 16:17:10 Informational] ------ Discover test started --

[2019-04-04 14:23] Oceania2018 commented on #236
You can use built-in of VS 2017 test explorer.
![image](https://user-images.githubusercontent.com/1705364/55563263-35067700-56bb-11e9-9e6e-39b78af57f76.png)

[2019-04-04 15:25] henon commented on #236
I guess my .net core sdk version is not correct, that's why no tests are found

[2019-04-04 15:40] Oceania2018 commented on #236
install .net core 2.2

[2019-04-04 17:13] henon commented on #236
I can't get it to work with .net core 2.2, no matter what I do. List of target frameworks goes only til .net core 2.1

Here is what I did:
* Updated VS 2017 to latest version
* Installed .net core SDK 2.2 (x64 and x86)
* I even installed .net core SDK 3.0 preview
* Restarted VS
* Rebooted
All to no avail. Maybe I'd have to also get all Windows updates but I don't want to do that.

Interestingly th

[2019-04-04 17:27] Oceania2018 commented on #236
OK, looking forward for your first PR.

[2019-04-05 07:56] henon commented on #210
I just implemented this, but without axis support at the moment. The overload with axis is still to be done

[2019-04-05 08:08] henon opened #238 "How to mimick Python's nice column and row access?"
Hey all,

How would you say to do access to a column `matrix[:, i]` or access to a row `matrix[i, :]` in NumSharp?

[2019-04-05 10:52] henon opened #239 "np.linalg.norm"
I am going to port np.linalg.norm(...)

[2019-04-05 11:21] henon commented on #238
I need to be able to get a (n-1)-dimensional slice of a n-dimensional matrix, i.e. a 1d vector out of a 2d matrix.
First step would be to add appropriate accessors to IStorage right?
I am not yet sure how they should look like, please comment if you have ideas.

[2019-04-05 11:35] henon commented on #238
This is not as elegantly possible as in Python, but we can do something like this, given that matrix is an NDArray:

* matrix[Range.All, 1] ... return the first column, Python: matrix[:, 1]
* matrix[new Range(0, 2), 1] ... return the first two entries of the first column, Python: matrix[:2, 1]
* matrix[new Range(1,3), new Range(1,3)] ... return a 2x2 submatrix of matrix starting at 1,1, Python: ma

[2019-04-05 11:35] Oceania2018 commented on #238
Check `indexing` to help.
![image](https://user-images.githubusercontent.com/1705364/55624849-c97ce200-576c-11e9-8b03-5b4cac0766b0.png)

We can override in `Slice`
![image](https://user-images.githubusercontent.com/1705364/55624914-f03b1880-576c-11e9-9456-2b4e97c17077.png)

[2019-04-05 11:40] henon commented on #238
Yeah, the string idea is great for porting code from Python. I am sure it will be popular.

[2019-04-05 11:43] Oceania2018 commented on #238
Seem's like another contributor already implemented the string index. I'll found out later. @PppBr is that true?

[2019-04-05 11:45] henon commented on #238
when you slice a matrix in numpy you essentially get a view of the original data. modifying it will modify the original matrix. Do we have a view concept or implementation already?

[2019-04-05 11:50] Oceania2018 commented on #238
Not yet, we havn't have the `view` class.  I've an idea how to implement the new `view`.

`view` inherit from `ndarray`, but keep a `filter` of data index.
and `view` will implement a `IEnumerate` interface.
when interating the `view`, it will return all the element in the `filter`.

@henon What do you think of it?

or we need a new `NDStorage`?

[2019-04-05 12:14] henon commented on #238
@Oceania2018: I think the projection from the view to the original data could be handled entirely by the storage.

This is complicated, I had to think about it for a time to wrap my head around it. If I am correct, what you  need is a function that projects a view index onto an index on the original data (which could be another view that does further projection - think about that).

I am not yet s

[2019-04-05 12:17] Oceania2018 commented on #238
Actually, we have the formula to convert n-d index to 1d index.
chech the function `Shape.GetDimIndexOutShape`

[2019-04-05 12:41] henon commented on #236
PR has been merged.

[2019-04-05 12:41] #236 closed

[2019-04-05 12:47] henon commented on #238
Nice we have the projection and the inverse projection already, so the difficult part is actually already solved. The rest is just software design.

One thing I missed, that the view also needs to enumerate on the underlying data (or view), is a stride. If you take a row out of a matrix the stride is 1, but if you take a column, the stride is the width of the matrix.

ok, you may be right about in

[2019-04-05 13:01] Oceania2018 commented on #238
I will write the first version of view, then we can discuss further.

[2019-04-05 13:25] henon commented on #238
Don't forget to make the design recursive, so that you can have a `view` of a `view` of a `view` of a 'storage'.

[2019-04-05 14:00] Oceania2018 commented on #238
Sure

[2019-04-05 15:35] Oceania2018 commented on #239
It's not same as ?
![image](https://user-images.githubusercontent.com/1705364/55639218-77e54f00-578e-11e9-8320-89364ddc6805.png)

[2019-04-05 15:38] Oceania2018 commented on #235
@LinusKimi We're refactor the indexing function, once this finished, all the index will return the `ndarray` object.

[2019-04-05 16:36] henon commented on #239
ok, you are right. that implements the L2 norm I need. I'll add the shortcut np.linalg.norm(...) just for Python  compatibility

[2019-04-05 16:44] henon commented on #239
no, after checking the code against the numpy docs, actually, the 2-norm is not the same what has been implemented in normalize(). There is no squaring of coefficients. Is that a bug?

https://het.as.utexas.edu/HET/Software/Numpy/reference/generated/numpy.linalg.norm.html

[2019-04-05 18:02] Oceania2018 commented on #239
Yes, they're different.

[2019-04-08 09:51] henon commented on #238
Update: Python's slice notation for accessing slices of NDArray has been implemented. However, the implementation of a view that serves that slice of the original data still needs to be done.

Here is a very simple test case that demonstrates the problem to be solved:
[code]

[2019-04-09 00:26] atotalnoob opened #243 "Mimic np [:,:] behavior"
Hi,

How would I mimic np [:,X] or [X,:] behavior in numSharp?

[2019-04-09 00:29] henon commented on #243
duplicate of https://github.com/SciSharp/NumSharp/issues/238 please check it out

as of now it is not entirely implemented

[2019-04-09 00:32] Oceania2018 commented on #243
We'll wait for .net standard 2.1, it introduces new syntax to index: https://github.com/dotnet/csharplang/issues/2148

[2019-04-09 02:02] Esther2013 commented on #243
Currently we use `string` as indexing, it works so far.

[2019-04-12 11:39] henon commented on #243
please discuss further at #238

[2019-04-12 11:39] #243 closed

[2019-04-12 19:14] thefsm93 opened #244 "Need help loading Tiff/Raw Grayscale Image to NDArray"
Hey SciSharp/NumSharp Team!

So I'm sorry to bother you guys here, but I've been working on converting some NumPy code over to C# and I thought this would be the right library to use.

Problem is, I can't seem to figure out how in the world to use y'alls library in the same fashion as NumPy. For example, in NumPy I could just do np.fromFile() or np.fromBuffer in order to load up a tiff gray-scale

[2019-04-12 19:36] Oceania2018 commented on #244
Hi,

Could you raise this issue/ requirement to NumSharp’s issue page on GitHub. So we can track it and other people may help you.

Thanks,
Haiping Chen

[2019-04-12 19:38] thefsm93 commented on #244
Ahhh I thought that was where this was. Sure absolutely!

[2019-04-12 19:39] Oceania2018 commented on #244
Sorry, I just got it from email. So it's fine here. thanks.

[2019-04-12 19:39] thefsm93 opened #245 "Help Needed to Convert tiff/raw image to NDArray"
Hello NumSharp Team!

So I'm sorry to bother you guys here, but I've been working on converting some NumPy code over to C# and I thought this would be the right library to use.

Problem is, I can't seem to figure out how in the world to use y'alls library in the same fashion as NumPy. For example, in NumPy I could just do np.fromFile() or np.fromBuffer in order to load up a tiff gray-scale image t

[2019-04-12 19:41] thefsm93 commented on #244
Reopened, although I did open one over there also :)

[2019-04-12 19:45] Oceania2018 commented on #244
Acutall we used to wrote a sample code to load image.

![image](https://user-images.githubusercontent.com/1705364/56062332-a389ab80-5d31-11e9-993e-d981d628b511.png)

[2019-04-12 19:49] Oceania2018 commented on #245
https://github.com/SciSharp/NumSharp/blob/v0.5-dtype/src/NumSharp.Core/Creation/NumPy.array.cs

[2019-04-12 19:50] thefsm93 commented on #245
Let me try this and see if that works! Thanks!

[2019-04-12 19:51] thefsm93 commented on #244
Gonna give this a shot and see if it works!

[2019-04-12 20:15] thefsm93 commented on #245
That worked! Wow I can't believe I didn't figure that out, thanks for the super fast response!

[2019-04-12 20:15] #245 closed

[2019-04-12 20:15] thefsm93 commented on #244
Worked! Thanks!

[2019-04-12 20:15] #244 closed

[2019-04-12 20:31] Oceania2018 commented on #244
BTW, the performance is good?

[2019-04-12 20:39] thefsm93 commented on #244
On the small test file, yes. However I've run into a different problem with
the full 128MB raw file. It's an issue outside of NumSharp though :)

On Fri, Apr 12, 2019 at 1:31 PM Haiping <notifications@github.com> wrote:

[2019-04-13 18:36] domtheluck opened #246 "Support f32 & f64 in npy"
Hi,

Do you think it can be possible to support f32 and f64 when saving or loading npy file?

[2019-04-13 18:40] #246 closed

[2019-04-13 18:42] Oceania2018 commented on #246
Are you sure your issue is resolved?

[2019-04-13 18:42] domtheluck commented on #224
Should be great to have float (f32/f64) support in np.save as well.

[2019-04-15 11:54] Oceania2018 commented on #224
@DmitryGeyzersky Could you check it?

[2019-04-15 12:01] #224 closed

[2019-04-16 13:38] sebhofer commented on #190
Would be great to have an sparse matrix implementation with good performance! Math.Net has some support for sparse matrices, but performance is not great. Also, would be useful to have support for different storage formats (as you already hinted at above).

As an additional reference: Here https://github.com/wo80/mathnet-extensions is an implementation improving on the performance of Math.Net.

[2019-04-16 16:00] Oceania2018 commented on #190
@sebhofer Thanks for the info, it's important to us.

[2019-04-17 08:40] DmitryGeyzersky commented on #224
@Oceania2018 , thank you for the update! I've tested it on my files and it works like a charm.
Thank you!

Dima

[2019-04-18 04:49] deepakkumar1984 opened #251 "np.sum"
Implement np.sum
https://docs.scipy.org/doc/numpy/reference/generated/numpy.sum.html

[2019-04-18 04:49] deepakkumar1984 opened #252 "numpy.random.uniform"
https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.public .html

[2019-04-18 05:04] deepakkumar1984 commented on #195
There was a project by Alex-Weaver "TensorSharp" which I tried to use for building a neural network library. The library had all the basic math, elementwise, dimensionwise ops well written in C++ and have a C# wrapper on the top of it. It's also integrated with ManagedCuda which can be built with any Cuda version from 8.0 till 10. The size of the library is small to around 4 MB and doesn't need an

[2019-04-18 12:36] Oceania2018 commented on #251
![image](https://user-images.githubusercontent.com/1705364/56361270-8d09a700-61ac-11e9-9f98-e999c110d906.png)

I'll expose `sum` to `np`. You can use it as extension temporarily.

[2019-04-18 12:37] Oceania2018 commented on #251
Oh, I saw you already assigned to yourself. Are you going to PR?

[2019-04-18 12:42] Oceania2018 commented on #195
It's good idea. I'll look at your code deeply. you didn't PR to TensorSharp?
I'm thinking how to integrate to NumSharp, from your fork or TensorSharp master ?

[2019-04-18 14:04] deepakkumar1984 commented on #195
There was lot of refactor and added dependency on bit of customized
managedcuda project, so only didn't raised PR. I will do that in next 2
days and see can be accepted.

On Thu, 18 Apr. 2019, 10:12 pm Haiping, <notifications@github.com> wrote:

[2019-04-19 04:40] deepakkumar1984 commented on #251
The function is adding two NDArray, elementwise. I think the Add function does that already. it should be Sum of array elements over a given axis. So the parameter need to be an axis.

[2019-04-19 09:29] henon commented on #251
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.sum.html

there is also a link to the source code on the top right corner which can often be directly ported to implement the function.

[2019-04-20 16:39] rbloching opened #253 "np.repeat results in all zeros"
When using the repeat method:

[code]

size will be correct (10), but the resulting array is set to all 0's

[2019-04-21 15:07] Oceania2018 commented on #253
@rbloching It works on my side. What version are you using?

![image](https://user-images.githubusercontent.com/1705364/56471886-3fe03c00-641d-11e9-805e-51d490d1e918.png)

[2019-04-21 17:16] rbloching commented on #253
It was ran from the master branch. Just confirmed this works when running from 0.9-view.

[2019-04-21 17:16] #253 closed

[2019-04-27 16:45] Oceania2018 commented on #43
![image](https://user-images.githubusercontent.com/1705364/56852503-e75be380-68e1-11e9-9228-60b22af2193d.png)

[2019-04-27 16:46] Oceania2018 commented on #238
Check the `Slice3x2x2` UnitTest.

[2019-04-27 21:16] #195 closed

[2019-04-27 21:16] #118 closed

[2019-04-29 01:48] deepakkumar1984 commented on #251
Hi, seems there is an issue with np.sum for axis -1. The result I am getting is SumAll whereas should be sum at axis -1 which for 2D will be 1, 3D will be 2.

Python version:
![image](https://user-images.githubusercontent.com/6328361/56873249-333c9300-6a70-11e9-941c-36901311510c.png)

In NumSharp I get 45 for the same invoke.
![image](https://user-images.githubusercontent.com/6328361/56873286-7565

[2019-04-29 11:15] Oceania2018 commented on #251
OK, -1 means last axis. Will add next release.

[2019-04-29 11:18] henon commented on #251
by the way, many NumSharp methods use -1 for the default axis right now. these will all have to be changed to use int? instead of int for axis and use null instead of -1 for the default axis

[2019-04-29 11:28] Oceania2018 commented on #251
Oh, I will fix them one by one.

[2019-04-29 11:52] Oceania2018 commented on #252
@deepakkumar1984  I Can't open this link.

[2019-04-30 00:58] deepakkumar1984 commented on #252
This is the link: https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.uniform.html

[2019-04-30 03:12] deepakkumar1984 opened #254 "Missing API's"
np.full: https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.full.html
np.exp: https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.exp.html
np.clip: https://docs.scipy.org/doc/numpy/reference/generated/numpy.clip.html
np.around: https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.around.html

Need this to complete the NeuralNetwork example for NumSharp, al

[2019-05-02 16:53] mzhukova commented on #116
Hi folks,
I saw on the Intel forum that you were asking about distributing MKL via nuget.
It is available now in nuget channel as well. I was just wondering, if this may be useful to you: https://www.nuget.org/packages?q=intelmkl

Best regards,
Maria

[2019-05-06 02:23] zhaoyipeng opened #262 "NDArray multiply error"
these codes will report error
[code]

[2019-05-06 02:25] zhaoyipeng commented on #262
I changed the NDArray to float64, it can run

[code]

[2019-05-06 02:26] Oceania2018 commented on #262
Yes, because the left operand and right operand is different data type. We disabled the data type converting implicitly due to performance consuming.

[2019-05-08 12:04] zhaoyipeng opened #264 "NDArray transpose error"
Transpose method in DefaultEngine is wrong with reshape((2,3))
[code]

[2019-05-09 10:38] zhaoyipeng opened #266 "dot error"
[code]

[2019-05-10 22:15] Oceania2018 commented on #266
Fixed, will take effective next release.

[2019-05-10 22:16] #262 closed

[2019-05-10 22:29] Oceania2018 commented on #264
fixed.

[2019-05-11 15:39] fr0 opened #271 "latest release broke my code"
Upgraded from 0.8.3 to 0.10.1, code that used to work is now throwing an exception:

![exception](https://user-images.githubusercontent.com/435418/57571880-61f82900-73e1-11e9-9ed0-81a42f1cdf29.png)

`array` is a plain `NDArray`

Here's the (relevant) stack trace:
[code]

[2019-05-11 15:42] Oceania2018 commented on #271
Hi thanks for submitting the issue. It would be great if you can PR a UnitTest to reproduce your situation.

[2019-05-11 16:01] fr0 commented on #271
Thanks for the reply. I don't know how to write a unit test, but reproducing it is very easy:

[code]

[2019-05-11 16:02] fr0 commented on #271
The call to `transpose` is critical to producing the error, so that's probably where the bug is.

[2019-05-11 16:09] Oceania2018 commented on #271
OK, I'll add it to UnitTest.

[2019-06-13 17:17] Nucs opened #280 "Unable to convert between types via numpy.astype"
Consider the following code:
[code]

The following code in C# does not work:
[code]

Exception:
[code]

[2019-06-13 17:18] Nucs commented on #280
I can fix it simply by adding support for all type conversions in `_ChangeTypeOfArray` like it is in python.

[2019-06-13 17:21] Oceania2018 commented on #280
No, thanks. I’ve already fix that issue on my local.

[2019-06-13 17:27] Nucs opened #281 "Upcasting during math operations"
The following code works in python but fails in c#
The backend doesn't handle inconsistent types for example:
`a+b` where `a` is `double` and `b` is `int` will throw a null reference exception.

Python:
[code]
C#:
[code]

It can be fixed by detecting that int can be upcasted to double, therefore we can
apply on `b` `.astype(np.float64)` and then perform the math operation.

[2019-06-13 17:28] Nucs commented on #281
Let me know if help needed.

[2019-06-13 17:33] Oceania2018 commented on #281
Yes, this is needed. You can PR on this.

[2019-06-13 19:31] Nucs commented on #252
Added in PR #283

[2019-06-13 19:38] Oceania2018 commented on #254
@Nucs Could you help on these missing APIs ?

[2019-06-13 20:15] Nucs commented on #254
Sure, assign it to me.

[2019-06-13 20:55] Oceania2018 commented on #254
You have to accept the invitation. Then I can assign ticket to you.

[2019-06-14 15:33] Nucs opened #284 "[Discussion] Ground Rules and Structure"
I couldn't notice the inconsistencies around the library, There are functions that returns copies while some don't.
The strong-typing of C# does surely makes it harder to get stuff done so `.tt` generators does a nice job helping with that.

I would like to discuss the following:
1. What are the supported C# primitive types compared to numpy?
Looking at the implicit conversions of `NDArray` and ot

[2019-06-14 17:00] henon commented on #284
Hi Nucs,
you are right, there are many inconsistencies due to the fact that people just added what they needed and left the rest undone. We should define stricter rules and postulate them in the readme.

I think the most important guidance principle must be compatibility with the original NumPy. Only that way we can guarantee that porting Python scripts using numpy will work in NumSharp also. In t

[2019-06-14 17:25] henon commented on #284
ad 7: you can reach us on Gitter for quick questions, small talk, etc, but of course important stuff that should be accessible to all (like this) is of course best discussed in issues. I am sure @Oceania2018 will have answers for the other questions.

[2019-06-15 04:24] #266 closed

[2019-06-15 04:24] #235 closed

[2019-06-15 18:07] henon commented on #200
ToString was completely rewritten by me some time ago. This issue is out of date. Closing.

[2019-06-15 18:07] #200 closed

[2019-06-15 18:09] henon commented on #115
@PppBr: what is the state of this issue?

[2019-06-15 18:12] henon commented on #222
duplicate of [117](https://github.com/SciSharp/NumSharp/issues/117)

[2019-06-15 18:12] #222 closed

[2019-06-15 18:16] #264 closed

[2019-06-15 18:18] henon commented on #60
stale issue

[2019-06-15 18:18] #60 closed

[2019-06-16 00:02] Oceania2018 commented on #284
ad 1: Ideally, support all primitive data type.
ad 2: Not support, but can add easily.
ad 3: In theory, no limitation.
ad 4: Following numpy's lead.
ad 5: Should do the calculation in `engine`, move current code into `engine` gradually.
ad 6: Agree.
ad 7: https://gitter.im/sci-sharp/community

[2019-06-17 21:36] ggriffon opened #289 "Bitmap to NDArray"
Hi,
I have an issue while creating an NDArray from a Bitmap/Image, an exception is thrown.

[code]

Exception message : Allocate Image
Stack Trace :
   at NumSharp.Backends.TypedArrayStorage.Allocate(Shape shape, Type dtype)
   at NumSharp.np.array[T](T[] data)

[2019-06-21 15:15] #252 closed

[2019-06-21 15:45] Nucs commented on #280
Was fixed in PR #287

[2019-06-21 15:45] #280 closed

[2019-06-25 13:57] Plankton555 opened #290 "NullReferenceException when checking if NDArray is null"
**Summary**
It doesn't seem to be possible to use `if (myArray == null)` to check whether myArray is null, if it has been initialized to `NDArray myArray = null;`. This is because the == operator has been overridden without any additional checks.

**Minimal example of bug**
[code]

**Expected behaviour**
`myArray == null` should return true, not throw a NullReferenceException.

[2019-06-25 14:26] henon commented on #290
I recently had similar problems with my equality operator implementations in Numpy.NET and Torch.NET. Here is a very good solution for comparison: You need to use object.ReferenceEquals to check against null.

[code]

[2019-06-25 14:27] Nucs commented on #290
A known issue,
Use `object.Equals(myArray, null)` to perform such checks.
I'll close this issue once we implement a proper fix.

[2019-06-25 14:32] Oceania2018 commented on #290
@Plankton555 Try to use `if (myArray is null)`.

[2019-06-25 14:42] Plankton555 opened #291 "Broadcasting arrays on mathematical operations"
**Summary**
In NumPy it is possible to perform a mathematical operation on arrays of different shapes. See NumPy documentation at https://docs.scipy.org/doc/numpy-1.15.0/user/basics.broadcasting.html. However, in NumSharp, I get a `NumSharp.IncorrectShapeException` when I try this.

(I assume that this functionality is just not implemented yet, but IMHO it is a very important feature when manipula

[2019-06-25 14:46] Plankton555 commented on #290
@Oceania2018 Will try that.

My current work-around is to initialize to `NDArray myArray = new NDArray(typeof(float[]));` and check for `if (measurementMemory.len == 0)`, but I want to change that to a less ugly solution asap :P

[2019-06-25 14:48] Plankton555 commented on #290
Yes, `if (myArray is null)` works as expected. Thanks for the work-around, @Oceania2018!

[2019-06-26 09:16] Plankton555 opened #292 "NumSharp's randint functionality differs substantially from NumPy's randint"
**Description**
I noticed that randint (https://github.com/SciSharp/NumSharp/blob/6c9240f2905436f3cdc12d8d9e8887f72eaa940a/src/NumSharp.Core/Random/np.random.randint.cs) gives completely different results from NumPy's randint. After poking around in NumSharp's source code, [old issues](https://github.com/SciSharp/NumSharp/issues/58), and [NumPy's documentation](https://docs.scipy.org/doc/numpy-1.1

[2019-06-26 09:36] Plankton555 commented on #290
If it is a known issue (to quote Nucs), shouldn't it still be fixed? (regarding closing this ticket)

[2019-06-26 11:43] Nucs commented on #290
@Plankton555, It is a known issue and its fix is complicated that'll require breaking changes. This is why it has been delayed.
It happens (as far as I recall) because of the `implicit casting` mechansim in `NDArray`.

I'll keep it open till we either document the proper use (`myArray is null`) or fix it.

[2019-06-26 11:45] Plankton555 opened #293 "Implement array cast from integer to double"
(Sorry for opening so many issues recently, I'm just reporting the problems I am running into while actually trying to port real-world code from Python to C#. I really appreciate the effort you do to implement a C# version of NumPy.)

**Description**
Unable to cast an integer array to a double array. `System.NotImplementedException: '_ChangeTypeOfArray from Int32 to Double'`

**Minimum example**
[

[2019-06-26 11:47] Nucs commented on #293
This is fixed in an ongoing work on my local branch.
I'll refer to this issue once I finish my work and merge to master.

[2019-06-26 11:49] Nucs commented on #292
You are welcome to help us with a PR if you will to.

[2019-06-26 11:50] Nucs opened #294 "Dropping implementation of ArrayStorage"
After a deep look at the backend architecture and doing some experiments, I would like you to consider the following benchmark:

![image](https://user-images.githubusercontent.com/649919/60176860-27770e00-9820-11e9-928e-4f8e068df9d0.png)

[code]
### Proposition
I propose to drop-off non-generic `ArrayStorage` and only use `TypedGenericStorage`.

I have already done it in my local but I can't remov

[2019-06-26 11:51] Plankton555 commented on #293
Nice, good to hear!

[2019-06-26 11:54] Plankton555 commented on #292
Yeah, the thought has struck me. If I get some spare time during the coming days I might as well do that. I'm not that experienced with C# yet but I am very familiar with NumPy, so I guess that could be useful.

[2019-06-26 12:00] Plankton555 opened #295 "NullReferenceException when multiplying scalar with single value from matrix"
**Description**
I am getting the exception `System.NullReferenceException: 'Object reference not set to an instance of an object.'` when I extract a single value from 2-d array and multiply it with a scalar. My guess is that there's some combination of multiplication with different data types that is not defined/implemented or something.

**Minimum example**
[code]

**Expected result**
The variabl

[2019-06-26 12:03] Plankton555 commented on #295
The problem seems to never occur when `singleVal` is declared as a double instead of a var.

[2019-06-26 12:30] Oceania2018 commented on #294
@Nucs Could you push `GenericAccess` into repo ? I can't find it.

![image](https://user-images.githubusercontent.com/1705364/60179846-3a6bed00-97e4-11e9-8f24-377f580a1fec.png)

[2019-06-26 12:50] henon commented on #294
My 2 cents:
* if the benchmarks are in favor of your proposal (wow a factor 100 in some cases!!!)
* all tests work with the new storage
Why the hell not ;)

This is a huge change though. Can you pull it off?

[2019-06-26 12:52] Nucs commented on #294
@henon, Already did, looking for approval.
I can't PR yet but I can't continue without the approval
@Oceania2018 Added.

[2019-06-26 13:52] Oceania2018 commented on #294
Just push to your repo.

[2019-06-26 14:08] henon commented on #294
Awesome @Nucs, I am looking forward to the PR.

[2019-06-26 14:12] henon commented on #292
Cool @Plankton555, looks like you would be a very good complement to the NumSharp team.

By the way, we can migrate the randint test cases from Numpy.NET to NumSharp (and all the others too ultimately).

[2019-06-27 02:02] Oceania2018 commented on #294
@Nucs Thank you for your nice comparison, actually, We're using the `TypedArrayStorage` not `ArrayStorage`, I've already found the big performance difference before.

I refactored it in `TypedArrayStorage`.

![image](https://user-images.githubusercontent.com/1705364/60227521-4ba11200-9855-11e9-85e2-d2d2afb91e1b.png)

Our long term goal is implement another `Storage` -> `ByteStorage` to implement t

[2019-06-27 08:41] Plankton555 commented on #293
Would this problem also explain why I get an exception with the following code, or is it a separate problem?

[code]

That is, assigning an integer to an array containing doubles (as initialized from np.zeros) causes an exception.

[2019-06-27 08:54] henon commented on #293
[...]

Never feel sorry. Thank you for opening the issues, by doing that you are contributing to the library in a way!

[2019-06-27 09:17] Plankton555 commented on #293
Running into more problems similar to this, opening a new issue for them for clarity.

[2019-06-27 09:28] Plankton555 opened #296 "Multiplying double array with "castable non-doubles" throws exception"
**Description**
Types such as int or float are normally "automatically" casted to double if needed. However, when multiplying a `double` array with an `int` or `float`, a `NullReferenceException` is thrown. The same kind of problem seems to happen when a "castable non-double" is assigned as an element in a double array.

**Minimal example**
[code]

**Expected result**
It should be possible to mult

[2019-06-27 09:36] Plankton555 opened #297 "Implement numpy.mean"
Compute the arithmetic mean along the specified axis.

NumPy docs: https://docs.scipy.org/doc/numpy/reference/generated/numpy.mean.html

Corresponding NumSharp class: https://github.com/SciSharp/NumSharp/blob/master/src/NumSharp.Core/Statistics/NDArray.mean.cs

[2019-06-27 09:42] Plankton555 opened #298 "Implement numpy.random.choice"
Generates a random sample from a given (possible weighted) 1-D array.

NumPy docs: https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.choice.html

[2019-06-27 09:48] Plankton555 commented on #298
I needed this and implemented a subset of this functionality (random sampling based on weighted probabilities). I can clean up that code and upload here so that it maybe can work as a start for this functionality.

I've never contributed to an open-source project before though, so I might need some help when it comes to what must be implemented, and where in the architecture it should be located,

[2019-06-27 10:15] henon commented on #298
One of us (maybe @Nucs ?) can provide the method stub for you to fill in the code. You can then look at that commit to learn which files needed to be touched to add a new function.

[2019-06-27 11:02] Nucs commented on #296
Related to #281 and is a WIP by me.

[2019-06-28 10:11] Plankton555 commented on #298
Please do! Let me know when that is done.

[2019-06-29 14:11] henon commented on #293
(Sorry for polluting this thread, have no other way of contacting Plankton)

@Plankton555:  Could you try run your ported script against https://github.com/SciSharp/Numpy.NET ? I'd love to know if there are any issues.

[2019-06-30 20:02] Nucs commented on #298
Sorry it took so long, it should be placed in `NumSharp.Core/Random/np.random.choice.cs`
[code]

[2019-07-01 03:13] Oceania2018 opened #301 "The new storage UnmanagedByteStorage"
Performance is an important part, and we've been working hard to improve the performance of NumSharp, from ArrayStorage to TypedArrayStorage. We are not satisfied with this, we are always looking for a way to make memory allocation more efficient, we propose to use [jemalloc.NET](https://github.com/allisterb/jemalloc.NET) to help NumSharp to manage and allocate memory, the new engine will be named

[2019-07-01 07:29] henon commented on #301
What about the other plan to use managed memory and SIMD when it comes out with .NET Core 3?

[2019-07-01 09:28] Plankton555 opened #302 "Move random-related test code from Creation to Random"
The three random-related files `np.random.normal.Test.cs`, `np.random.randint.Test.cs`, `np.random.shuffle.Test.cs` are located in the Creation folder/namespace. They should be moved to the Random folder (RandomSampling namespace).

[2019-07-01 09:28] Plankton555 commented on #302
I am working on this.

[2019-07-01 09:36] Plankton555 opened #303 "Duplicated (and incorrectly placed) code"
**Duplicated code**
The files `Creation/NdArrayRandom.Permutation.cs` and `Random/np.random.permutation.cs` contain essentially the same code. The file in the Creation folder should be removed, I think.

**Incorrectly placed code**
The files `Creation/NdArrayRandom.Permutation.cs` and `Creation/NDArrayRandom.Shuffle.cs` are located in the Creation folder. They should be moved to the Random folder.

[2019-07-01 10:06] Plankton555 commented on #302
Pull request at https://github.com/SciSharp/NumSharp/pull/304

This is my first pull request ever to an open-source project, so tell me if I've missed anything.

[2019-07-01 11:18] Plankton555 opened #305 "Implement np.cumsum"
Return the cumulative sum of the elements along a given axis.

NumPy docs: https://docs.scipy.org/doc/numpy/reference/generated/numpy.cumsum.html

I think the corresponding NumSharp file should be located in https://github.com/SciSharp/NumSharp/tree/master/src/NumSharp.Core/Math

[2019-07-01 11:18] #302 closed

[2019-07-01 11:24] Nucs commented on #301
@henon, After looking into the [System.Runtime.Intrinsics](https://github.com/dotnet/coreclr/tree/master/src/System.Private.CoreLib/shared/System/Runtime/Intrinsics) source code, it does [support unmannaged memory](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/X86/Avx.cs#L393).
These are the support types:
[code]
We are missing `decimal`

[2019-07-01 11:48] henon commented on #303
even if it breaks someones code it will be a minor issue and super easy to fix.
I also suggest to rename the folder Random to RandomSampling because next time someone creates a file in that folder the namespace will automatically be Random which causes puzzling compilation errors

[2019-07-01 13:20] Plankton555 commented on #305
Basic version implemented in https://github.com/Plankton555/NumSharp/commit/7c081cf0a34d1d091b16c52a1f08208e54a83efb.

[2019-07-01 13:25] Nucs commented on #294
Was dropped and successfully replaced with `TypedArrayStorage`.

[2019-07-01 13:25] #294 closed

[2019-07-01 13:29] Plankton555 commented on #251
This bug has not been fixed (at least not merged into master). The implementation of [NDArray.sum.cs](https://github.com/SciSharp/NumSharp/blob/master/src/NumSharp.Core/Math/NDArray.sum.cs) does not sum the elements, but counts the number of elements that are equal, just like @deepakkumar1984 stated in [his reply](https://github.com/SciSharp/NumSharp/issues/251#issuecomment-484765480). I saw that

[2019-07-01 13:30] Nucs commented on #251
np.sum and many np.* functions are limited to 2 dimensions. this is part of a work in progress on my local.

[2019-07-01 13:53] #293 closed

[2019-07-01 14:11] hez2010 commented on #301
I tried to impl an UnmanagedArray for C# and tested it compared with C++:

Result:
![Test result](https://i.imgur.com/iVHzzkr.jpg)

I found that the performance of .NET Core 3.0 was even to C++ which impressed me a lot.

My UnmanagedArray code:
[code]

Test code:
C++
[code]

C#
[code]
You need to run Test() multiple times in order to warm up .NET Core JIT, so you can get the optimized result.

[2019-07-01 14:55] Nucs opened #306 "Faulty comparison between Shapes"
The following code fails:
[code]

[2019-07-01 14:57] Nucs commented on #306
Related to #292

[2019-07-01 15:03] Oceania2018 commented on #305
@Plankton555 Did you PR?

[2019-07-01 15:13] Plankton555 commented on #305
No, not yet. I should pull that code out to a separate commit and do a PR, but for now it's baked into another feature (np.random.choice).

[2019-07-01 15:40] #306 closed

[2019-07-01 15:44] Nucs commented on #295
The problem lies in Default.Multiply as no upcasting is implemented yet.
Related to #281 and to the ongoing rewriting of the backend.

[2019-07-01 15:55] #292 closed

[2019-07-01 15:56] Nucs commented on #292
Thanks for pointing that out @Plankton555.

[2019-07-02 13:45] Plankton555 commented on #305
Code refactored and submitted as a PR https://github.com/SciSharp/NumSharp/pull/307

[2019-07-02 13:45] Plankton555 commented on #305
Still just a simple version, I didn't look into support for multidimensional NDArrays.

[2019-07-02 14:16] Plankton555 commented on #298
Working on this in https://github.com/Plankton555/NumSharp/tree/feature/np_random_choice

[2019-07-03 00:15] #305 closed

[2019-07-03 06:55] henon commented on #305
I suggest to mark those tests which are failing due to known issues (not implemented, known bug, etc) as ignored with a message like this [Ignore("Summing over axis not implemented yet")]

The advantages are that all tests always pass if everything is ok and we immediately see if we break something.  Also using [Ignored] encourages to add more test cases which would not be added otherwise.

[2019-07-03 07:30] Plankton555 commented on #305
Sounds fine by me. Do you want to do it or should I?

[2019-07-03 07:58] henon commented on #305
I leave it to you guys, just suggesting a good thumb rule

[2019-07-03 08:39] Plankton555 commented on #305
Fixed and submitted as a pull request https://github.com/SciSharp/NumSharp/pull/308

[2019-07-03 09:02] Plankton555 commented on #303
Pull request submitted at https://github.com/SciSharp/NumSharp/pull/309

[2019-07-03 10:37] #303 closed

[2019-07-04 13:52] Plankton555 commented on #298
One of the examples in the numpy docs looks like
[code]

Since the numsharp method signature either takes an integer or an NDArray I tried implementing this string[] list with an NDArray. This gives an exception (which maybe should be reported as a bug or nonimplemented feature since numpy arrays can take strings).
[code]

In this particular case I can solve it in some ways:
1. Let this error happ

[2019-07-04 13:55] Oceania2018 commented on #298
@Nucs Do you have any plan on `String` support?

[2019-07-04 14:31] Plankton555 commented on #298
Pull request at https://github.com/SciSharp/NumSharp/pull/310

[2019-07-10 00:21] Nucs opened #311 "Dropping implementation of IStorage and TypedArrayStorage"
#### Proposition
Drop `IStorage` and `TypedArrayStorage` in favor of performance increase and `UnmanagedByteStorage`.

1. When using an interface explictly (like in the following example), the overhead of virtual tables causes methods that are called recusivly and/or a lot like `GetValue`, `GetIndexor` or `SetValue` to be slower.
A single virtual-call is equal to 10 direct method calls (see: [ViaI

[2019-07-10 00:22] Nucs commented on #311
Related to #301

[2019-07-10 08:03] henon commented on #311
I see no reasons not to but I don't know the library as deeply as Haiping.

[2019-07-12 21:52] natank1 commented on #81
Hi
Indeed there is concatenate but it is unclear the right way to do it ? I have numpy matrix X with the shape 7000x600.

I want to extract  x1= X[: ,np.concatenate((np.arange(30),np.arange(55,79)))] , namely the entire rows only the columns 0 to 30 and the 55 to 79. How do I do it in numsharp

[2019-07-13 00:15] Nucs commented on #81
Slicing in NumSharp does not support an `ndarray` inside a slice indexer
I think it is more practical to slice columns 0 to 30, then slice columns 55 to 79 and finally to concatenate them.
[code]

[2019-07-13 05:40] natank1 commented on #81
Thanks

Your code does not work . It states in the concatenate that it cannot
convert NDarray to NDarray[] . and it cannot convert in the second argument
NDarray to int. I tried to define both of them as var. but it did not help.
One more thing that I wish to understand: If I dont know the columns in
advance (I calculate them from somwehre) what do I do (I cannot right
string ":,0:30" because I do

[2019-07-14 10:15] henon commented on #81
@natank1 from your reported error message I would say that you should call it like this:

var ret = np.concatenate(new NDArray[]{a,b});

@Nucs
Here is a good testcase for the concatenate function. Don't want to mess with the code base now, so putting it here.
[code]

[2019-07-14 12:09] natank1 commented on #81
Thanks both of you

On Sun, Jul 14, 2019 at 1:15 PM Meinrad Recheis <notifications@github.com>
wrote:

[2019-07-15 06:49] 134579 opened #312 "Negative slice error"
hi, I see from [wiki](https://github.com/SciSharp/NumSharp/wiki/Slice-Notation)
 that slice start and stop can be negative number, but the following test case doesn't pass
[code]
error:

[code]
and the resulting y equals
```array([0, 1, 2, 3, 4])```

[2019-07-15 13:49] henon commented on #312
I remember negative values in slice notation have been added a while ago (not by me though, when I implemented slicing I forgot about them). I think it was kathdi. Maybe not all cases have been covered.

Right now, we are refactoring the library for better performance, so it is a bad time to fix this. Can you try to calculate positive values for the slicing notation yourself in the meanwhile?

Whe

[2019-07-16 01:32] 134579 commented on #312
OK

[2019-07-16 01:32] #312 closed

[2019-07-16 06:35] JetstreamRoySprowl opened #313 "mgrid gives bad second result"
The mgrid function returns two identical arrays, while [the spec says](https://docs.scipy.org/doc/numpy/reference/generated/numpy.mgrid.html) that (for square arrays at least) the second return value should be the transpose of the first.

The unit test for mgrid demonstrates this error.

[2019-07-16 08:01] JetstreamRoySprowl commented on #313
I've found several other errors besides this one, and I'm glad to do a PR for them all. Can you give me any idea how long it might take to get the PR taken?

[2019-07-16 10:25] Nucs commented on #313
We will gladly accept contributions, as soon as you pull request, we'll review and merge.

[2019-07-17 14:32] #81 closed

[2019-07-18 00:09] #313 closed

[2019-07-18 12:32] thomasd3 opened #315 "ToString should truncate its output"
On very large arrays, NDArray.ToString() is never coming back (or maybe it would at some point in time).

It would make sense to truncate the ToString() output.

[2019-07-18 13:25] thomasd3 opened #316 "just starting with numsharp and I don't understand the syntax"
In Python:
[code]

no problem..

with NumSharp:

[code]
I get an out of bounds error (while a.len returns 100)

What am I missing?

[2019-07-18 13:28] Nucs commented on #316
You are trying to perform a slice, all items between 20 to 50 (`[20:50]`)
What you are actually doing is access index `[20,50]` of a shape `(20+, 50+)`
What you need to do is `var b = a["20:50"];`

[2019-07-18 13:30] thomasd3 commented on #316
ok, I get it! but is there a faster way where I can access slices with variables? in my case I have a lot of sliding windows across data, so making a string to decode it right after is not going to be very fast.

[2019-07-18 13:30] henon commented on #315
I implemented the NDArray.ToString() but at the time I didn't know that Numpy has a way of not showing the middle elements of a huge array. if you create a 100x100 matrix it will show this on the console. the ToString method probably should do the same. See below. Also, current ToString() does not format the elements so that they are equally spaced with a monotype font.

[code]

[2019-07-18 13:38] Nucs commented on #316
Yes,
`a[new Slice(20, 50)]`

`nd.GetDouble(22,15)` or any similar Get methods of that sort (depending on your dtype).

[2019-07-18 15:42] Oceania2018 commented on #316
@Nucs Do you have plant to add function`NDArray GetNDArray(1)` to get specific dimension data (Scalar or NDArray). or you can write a generic function `T Get<T>(params int[] dims)`.

[2019-07-18 15:59] thomasd3 opened #317 "Target for this project"
Is the goal of NumSharp to be a 1:1 port of numpy?

Or is the goal to be compatible with numpy but eventually have other extra features?

[2019-07-18 16:00] henon commented on #317
it is a subset of numpy with compatible interface.

if you want all of the original check out this: https://github.com/SciSharp/Numpy.NET

[2019-07-18 16:29] Nucs commented on #316
In my branch I have them both iirc,
`this[int[]]` returns a `NDArray` - handles all shapes, doesn't copy.
`GetAtIndex(int)` - Get at specific linear offset
`Get<T>`, `GetInt32`, `GetTYPE` - handle scalar return, all take in `int[]`

Same set for setters.

[2019-07-18 16:48] Nucs commented on #317
NumSharp aims to be as identical as possible with numpy,
At this current time, [Numpy.NET](https://github.com/SciSharp/Numpy.NET) has a better, more reliable and more coverage of numpy's features **but** it does requires you to have python installed.

[2019-07-18 18:46] thomasd3 opened #318 "Not understanding the standard deviation"
In Python:

[code]

the output is: 1.1055415967851332

with numsharp:

[code]

the output is: 2.88675134594813

what am I missing?

[2019-07-19 08:10] HJB83 commented on #289
??? is it solved???

[2019-07-19 09:41] Nucs commented on #289
NumSharp does not support `Image` directly.
Youll have to tranform the bitmap into a byte array and then feed it to `np.array`, see:
https://stackoverflow.com/questions/4747428/getting-rgb-array-from-image-in-c-sharp

[2019-07-19 17:20] acanus opened #319 "np.argmax with axis"
The np.argmax with axis =2 always return zero array.

[2019-07-21 11:04] Nucs commented on #316
If there are any topic related questions, please reopen this issue.

[2019-07-21 11:04] #316 closed

[2019-07-21 11:04] Nucs commented on #317
If there are any topic related questions, please reopen this issue.

[2019-07-21 11:04] #317 closed

[2019-07-29 17:58] JetstreamRoySprowl opened #322 "Get rid of the NDArray.order"
How much resistance would there be to getting rid of the `order` property from Shape and NDArray? The `order` concept is used as a parameter for reshape in Python, but it does not seem to exist in Python as a member at all.

The reason I ask is because I've had to implement a bunch of functionality that allows efficient arbitrary dimensionality in several of the operations, and I'd love to provide

[2019-07-29 23:32] Nucs commented on #322
Following our private discussion, in the [new branch](https://github.com/SciSharp/NumSharp/tree/unmanaged-bytes-storage) we do not support transpose (currently) and will not support `order` for a while so it is safe to stick to 'C' order.

[2019-07-30 00:03] Oceania2018 commented on #322
I think we don’t have to implement them for all, if you have checked how we handle order currently, you will know the order is transparent to logic computation layer. Storage layer is responsible for getting a piece of data, no matter what the order is.

[2019-07-30 00:05] Oceania2018 commented on #317
v0.11.0 changed a lot compared to v0.10.0 due to performance improvement.

[2019-08-01 03:03] 134579 opened #325 "np.std error result"
[code]
failed

[2019-08-01 12:37] Nucs commented on #319
This issue has been fixed in [branch](https://github.com/SciSharp/NumSharp/tree/unmanaged-bytes-storage) and will be merged to master in couple of days

[2019-08-01 13:30] aidevnn opened #326 "Lazy loading"
Hi
Your lib NumSharp was inspired me and i tried to write a other approach of NumPy more easy to use.
The big idea is the Lazy Loading for the front end and this is my repo.
https://github.com/aidevnn/DesertLand

My lib isnt optimized for speed at this time, but i can improve it with ease by rewritting NDarray backend class and methods WITHOUT changing nothing from the NDview struct frontend which

[2019-08-01 13:46] Oceania2018 commented on #326
@aidevnn Join us, build Deep Learning library based on current work.

[2019-08-01 13:52] aidevnn commented on #326
I started to fork your repo, it takes me some month to understand in deep your great work.
Best regards.

[2019-08-01 15:01] Nucs commented on #326
Hey @aidevnn, Thank you.
A. Are you aware we are rewriting our backend in a [separate branch](https://github.com/SciSharp/NumSharp/tree/unmanaged-bytes-storage)
B. Can you elaborate more about what do you mean by a front-end lazy loading?
If I understand correctly, lazy-loading is something that numpy does not implement therefore if you wish to contribute a lazy-loading front-end when NumSharp is

[2019-08-01 19:23] aidevnn commented on #326
Hello @Nucs

A. Ok a devel branch is more collaborative than a fork

B. Lazy Loading can separate the SharpNum library onto frontend with simple to write specification which will be used by the rest of SciSharp ML/AI framework and the pure SharpNum backend for fast and speed computation. The SciSharp ML/AI team can write their own unit test to integrate SharpNum progression.
Lazy Loading is a low

[2019-08-01 19:35] Oceania2018 commented on #326
@aidevnn Is `NDProxy` like a kind of Expression/ Func/ Delegate ? It can be executed after all operations have been decided ?

[2019-08-01 19:56] aidevnn commented on #326
Yes it is a struct that can be defined like this
NDproxy a = new NDproxy(()=>ndArray0)
Its contains only on property : Func<NDarray> fnc, which can be called explicitly
NDarray b = a.fnc() during internal computation of the backend
or implicitly during type conversion by the frontends users.

[2019-08-01 20:04] Nucs commented on #326
@aidevnn
A. You can still use that branch from a fork
B. Thanks for laying it out for me, I am too a self taught.
Honestly - there is no fast way to stack lazy loading ops. Any basic implementation in C++ will surpass C#'s performance by far.
Your best luck to put effort is [Tensorflow.NET](https://github.com/SciSharp/TensorFlow.NET) since tensorflow holds a somewhat similar API to numpy and is ca

[2019-08-01 20:11] aidevnn commented on #326
@Nucs  you are right! Lazy Loading and some stacks operations because its a kind of managing expression pattern.
Managing code have advantage for simplifying coding and maintenance, but with loss of speed and performance. Its a tradeoff.

[2019-08-02 19:38] aidevnn commented on #326
@Nucs The idea behind the lazy loading is to introduce step by step some symbolic neural network algorithms with the numerical connexionnist algorithms.
For beginning, a precompilation of all requirement like shape / strides / slices can be done without recreating them each time and its my first objectif. I will let know my progress

[2019-08-03 02:50] aidevnn commented on #326
In the expression
[code]
In the above expression, my actual code and symbolic approch reduce rawdata access only to one time. Also in a more complexe expression, the lazy loading reduce the data access to the minimum effort.

[code]
A NDarray appears two time, and there will be only two time rawdata access at all. But i am trying to solve some performances problems.

We can say that a lazy loading

[2019-08-05 17:42] JetstreamRoySprowl opened #333 "Need NuGet pre-release for unmanaged-bytes-storage"
@Oceania2018 I've just finished a project which I've converted from NumSharp 0.10.4.0 to the unmanaged-bytes-storage branch per a suggestion from @Nucs. Unfortunately for me, the project needs to run in Docker containers, which means I really need a NuGet package. Would it be possible to get a NuGet pre-release for unmanaged-bytes-storage in the next day or two?

[2019-08-05 19:12] Nucs commented on #333
@Oceania2018 I'll contact you once we merge to master to release it as a pre-release.

[2019-08-05 20:40] Oceania2018 commented on #333
Once you merged, I'll release an alpha version. A big milestone.

[2019-08-06 02:45] Oceania2018 opened #334 "np.prod([1]) should return a Scalar"
Python:
![image](https://user-images.githubusercontent.com/1705364/62507442-0532c180-b7ca-11e9-982d-324243a65c0b.png)

NumSharp-v0.10.x:
![image](https://user-images.githubusercontent.com/1705364/62507455-15e33780-b7ca-11e9-98af-2e574b1c287f.png)

NumSharp-umanaged-storage:
![image](https://user-images.githubusercontent.com/1705364/62507516-4f1ba780-b7ca-11e9-9816-bf45e5bedb93.png)

![image](https

[2019-08-06 08:25] Nucs commented on #334
Fixed in unmanaged-bytes-storage branch

[2019-08-06 08:25] #334 closed

[2019-08-06 11:38] Oceania2018 commented on #333
@JetstreamRoySprowl Released: https://www.nuget.org/packages/NumSharp/0.11.0-alpha

Follow us on Twitter, keep up to date: https://mobile.twitter.com/ScisharpS

[2019-08-06 11:39] #333 closed

[2019-08-06 12:39] Nucs commented on #325
This issue has been resolved in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).
If it persists, let me know please.

[2019-08-06 12:39] #325 closed

[2019-08-06 12:41] Nucs commented on #319
This issue has been resolved in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).
If it persists, Reopen the issue let us know please.

[2019-08-06 12:41] #319 closed

[2019-08-06 12:42] Nucs commented on #322
As we released the changes, `order` is no longer used in NumSharp.

[2019-08-06 12:42] #322 closed

[2019-08-06 12:42] Nucs commented on #318
This issue has been resolved in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).
If it persists, Reopen the issue let us know please.

[2019-08-06 12:42] #318 closed

[2019-08-06 12:43] Nucs commented on #311
This issue has been resolved in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 12:43] #311 closed

[2019-08-06 12:44] Nucs commented on #301
This discussion has been resolved with the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

@hez2010 Thank you Steve for the template, It serves as a good starting point.

[2019-08-06 12:44] #301 closed

[2019-08-06 12:44] Nucs commented on #297
This issue has been implemented in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 12:44] #297 closed

[2019-08-06 12:45] Nucs commented on #291
This issue has been implemented in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 12:45] #291 closed

[2019-08-06 12:46] Nucs commented on #296
This issue has been resolved in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).
If it persists, Reopen the issue let us know please.

[2019-08-06 12:46] #296 closed

[2019-08-06 12:47] Nucs commented on #284
All of these suggestions were implemented in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 12:48] Nucs commented on #271
This issue should be resolved in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 12:51] Nucs commented on #115
This issue has been resolved in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).
If it persists, Reopen the issue let us know please.

[2019-08-06 12:51] #115 closed

[2019-08-06 12:51] Nucs commented on #76
This issue has been implemented in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 12:51] #76 closed

[2019-08-06 12:52] Nucs commented on #66
`NDArray` currently implements `IEnumerable<T>`.

[2019-08-06 12:52] #66 closed

[2019-08-06 12:52] Nucs commented on #52
These methods already exist and were rewritten by me.

[2019-08-06 12:52] #52 closed

[2019-08-06 12:53] Nucs commented on #17
This issue has been implemented in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 12:53] #17 closed

[2019-08-06 12:53] Nucs commented on #11
This issue has been implemented in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 12:53] #11 closed

[2019-08-06 12:53] Nucs commented on #79
This issue has been implemented in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 12:53] #79 closed

[2019-08-06 12:59] Nucs commented on #290
I've added a unit-test and calling (ndarray==null) works as expected.

[2019-08-06 12:59] #290 closed

[2019-08-06 13:00] Nucs commented on #295
This issue should be resolved in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).
If it persists, Reopen the issue let us know please.

[2019-08-06 13:00] #295 closed

[2019-08-06 13:01] Nucs commented on #281
This issue has been implemented in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 13:01] #281 closed

[2019-08-06 13:03] Nucs commented on #70
@henon @Oceania2018, Should we implement a documentation page like discussed here?
https://dotnet.github.io/docfx/

[2019-08-06 13:03] Nucs commented on #46
This issue has been implemented in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 13:03] #46 closed

[2019-08-06 13:04] Nucs commented on #194
This issue has been implemented in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).

[2019-08-06 13:04] #194 closed

[2019-08-06 13:04] Nucs commented on #251
This issue should be resolved in the [new release](https://github.com/SciSharp/NumSharp/pull/336) of NumSharp 0.11.0-alpha2 and available on [nuget](https://www.nuget.org/packages/NumSharp/0.11.0-alpha2).
If it persists, Reopen the issue let us know please.

[2019-08-06 13:04] #251 closed

[2019-08-07 02:30] Oceania2018 opened #337 "Shuffle exception"
![image](https://user-images.githubusercontent.com/1705364/62590283-65d90180-b891-11e9-88f6-308668a037d4.png)

![image](https://user-images.githubusercontent.com/1705364/62590290-70939680-b891-11e9-8e12-31ae23431448.png)